@import 'variables'
/* fonts */
@import 'fonts'

/* global */
@import 'global'

/* layout */
.bone
  position: relative
  min-height: 100%
  width: 100%
  &.main
    height: 100%
    overflow: hidden
.page
  &-width
    width: $page-width
    padding: 0 $page-space
    margin: auto
  &-header
    margin: 0
    max-width: 600px
    margin: auto
    font: 28px/30px $bold
    text-transform: uppercase
    text-align: center
    .interview-preview &
      color: #fff
      max-width: 1000px
      padding: 65px 0
      &:after
        content: ""
        display: block
        margin: 25px auto 0
        width: 125px
        height: 2px
        background: #fff
  &-content p
    margin: 0

/* buttons */
.btn
  display: inline-block
  vertical-align: middle
  height: 30px
  color: #fff
  cursor: pointer
  font: 12px/14px $bold
  text-transform: uppercase
  margin: 0
  padding: 0 50px
  background: none
  border: 2px solid #fff
  border-radius: 16px
  transition: box-shadow .25s
  &:focus
    outline: none
  &:active
    box-shadow: 0 0 10px #fff
a.btn
  height: auto
  text-decoration: none
  line-height: 30px
  transition: all .25s
  &:hover
    transform: scale(1.045)
.btn-vote,
.btn-reset
  display: block
  margin: 25px auto 0
  padding: 8px 10px
  width: 150px
  letter-spacing: 1px
  text-align: center
  font: 12px/14px $bold
  border: 2px solid #333
  border-radius: 16px
  text-transform: uppercase
  text-decoration: none
  transition: all .25s
  &:hover
    transform: scale(1.045)
  &:active
    box-shadow: 0 0 10px rgba(0,0,0,.3)
.btn-expand
  display: block
  margin: 25px auto 0
  padding: 8px 10px
  width: 150px
  letter-spacing: 1px
  text-align: center
  font: 12px/14px $bold
  border: 2px solid #333
  border-radius: 16px
  text-transform: uppercase
  text-decoration: none
  transition: all .25s
  &:hover
    transform: scale(1.045)
  &:active
    box-shadow: 0 0 10px rgba(0,0,0,.3)
  .open &
    width: 100%
    padding: 15px 0
    border:
      width: 2px 0 0
      color: #dddad6
    border-radius: 0
    background: $grey
.btn-reg
  display: inline-block
  vertical-align: middle
  text-align: center
  color: #fff
  letter-spacing: 1px
  text-transform: uppercase
  text-decoration: none
  cursor: pointer
  font: 22px/30px $bold
  padding: 15px 40px
  background-color: #D0383F
  border: 1px solid #333
  border-radius: 30px
.btn-next,
.btn-prev
  display: inline-block
  vertical-align: middle
  text-decoration: none
  text-align: center
  padding: 0 5px
  min-width: 140px
  border-radius: 16px
  font: 12px/30px $bold
  text-transform: uppercase
  letter-spacing: 1px
  border: 2px solid #333
.btn-next:after,
.btn-prev:before
  content: ""
  display: inline-block
  vertical-align: middle
  width: 4px
  height: 7px
  margin: 0 0 1px 5px
  background: url(../images/bg/arrows.png) 0 0 no-repeat
  text-indent: -9999px
  overflow: hidden
.btn-prev:before
  margin: 0 5px 1px 0
  background-position: 0 -10px

/* header */
.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  background: #000
  padding: 20px 0 15px
  z-index: 50

.topnav
  display: inline-block
  vertical-align: middle
  margin: 0
  padding: 0
  max-height: 0
  position: relative
  padding-top: 30px
  overflow: hidden
  list-style: none
  font-size: 0
  transition: opacity .25s ease, padding-top .25s ease
  li
    display: inline-block
    vertical-align: middle
    font-size: 13px
    line-height: 15px
    text-transform: uppercase
    margin-left: 47px
  a
    color: #b9b8b8
    text-decoration: none
    transition: color .25s ease
  a:hover,
  a.current
    color: #fff
  a.current
    cursor: default
  .fixed &
    padding-top: 0
    max-height: 100px
    opacity: 1

.logo
  display: inline-block
  vertical-align: middle
  &-aeroflot
    float: right
    margin: 2px 0 0

/* footer */
.footer
  padding: 20px 0
  background: #000

/* content */
.content
  padding-top: 61px
.promo
  width: 100%
  height: 497px
  position: relative
  overflow: hidden
  background-color: #000
  background-repeat: no-repeat
  background-position: 50%
  color: #fff
  text-align: center
  &-tab,
  &-cell
    width: 100%
    height: 100%
  &-tab
    display: table
  &-cell
    display: table-cell
    vertical-align: middle
    padding-bottom: 160px
  &-text
    position: relative
    z-index: 2
  &-header
    font: 58px/60px $bold
    padding-bottom: 20px
    text-transform: uppercase
    &:after
      content: ""
      display: block
      width: 127px
      height: 2px
      background: #fff
      margin: 40px auto
  &-content
    font: 22px/30px $serif
    max-width: 740px
    margin: auto
    padding-bottom: 30px
  &-img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background:
      size: cover
      position: 50%
      repeat: no-repeat
    transition: transform .4s ease
    z-index: 1
  &:hover &-img
    transform: scale(1.025)

/* chair */
.chair
  position: relative
  &-content
    padding-top: 40px
    text-align: center
    min-height: 765px
  &-text
    max-width: 880px
    margin: 25px auto 0
    font-size: 15px
    line-height: 17px
  &-holder
    position: relative
    width: 750px
    margin: 40px auto 0
    padding-bottom: 20px
  &-hint
    position: absolute
    &-title
      position: absolute
      left: -65px
      bottom: 30px
      width: 130px
      text-align: center
      font-size: 15px
      line-height: 17px
      text-shadow: 1px 1px 0 rgba(255,255,255,.3)
    .expanded &-title .e-c
      display: inline
    .expanded &-title .e-e,
    &-title .e-c
      display: none
    .light &-title .l-c
      display: inline
    .light &-title .l-e,
    &-title .l-c
      display: none
    .light &-title
      color: #fff
      text-shadow: none
#chair
  display: block
  margin: auto
  // position: relative
  // &:before
  //   content: ""
  //   position: absolute
  //   left: 0
  //   top: 0
  //   width: 100%
  //   height: 100%
  //   background: url(../images/bg/chair.png) 0 0 no-repeat

/* board */
.board
  position: relative
  background: #000
  height: 760px
  overflow: hidden
  &-img
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background:
      position: 50%
      repeat: no-repeat
    transition: transform .4s ease
    transform-origin: 50% 50% 0px
    z-index: 1
  // hover scale 1.03
  .no-touch &:hover &-img
    transform: scale(1.03)
  &-text
    position: relative
    z-index: 2
  &-header
    padding-top: 40px
    color: #fff
  &-hint
    position: absolute
    transition: transform .4s ease
    transform-origin: 50% 50% 0px
  &-popup
    &-text
      position: absolute
      left: 50%
      text-align: center
      bottom: 35px
      width: 186px
      overflow: hidden
      max-height: 0
      margin-left: -93px
      font-size: 15px
      line-height: 17px
      opacity: 0
      transition: opacity .25s ease
      color: #fff
      .board .open &
        max-height: 50px
        opacity: 1
    &-close
      position: absolute
      top: 0
      right: 0
      width: 0
      height: 0
      background: url(../images/bg/board-popup-close.png) 0 0 no-repeat
      text-indent: -9999px
      overflow: hidden
      transition: opacity .25s ease
      opacity: 0
      z-index: 2
      .board .open &
        width: 15px
        height: 15px
        opacity: 1
.plus-circ
  position: absolute
  left: 0
  top: 0
  width: 34px
  height: 34px
  background: #000
  margin: -19px 0 0 -19px
  border: 2px solid #fff
  border-radius: 19px
  box-shadow: 0 0 4.8px 0.3px rgba(255,255,255,0.2)
  text-indent: -9999px
  overflow: hidden
  transition: all .25s ease
  z-index: 3
  &:before,
  &:after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    background: #fff
    transition: opacity .25s ease
  .open &:before,
  .open &:after
    opacity: 0
  &:before
    width: 18px
    height: 2px
    margin: -1px 0 0 -9px
  &:after
    width: 2px
    height: 18px
    margin: -9px 0 0 -1px
  .no-touch &:hover
    box-shadow: 0 0 15px #fff
  .touch &:active
    box-shadow: 0 0 15px #fff
  img
    display: block
    width: 100%
    height: 100%
    opacity: 0
    border-radius: 131px
    transition: all .25s ease
  .board .open & img
    border-radius: 127px
    opacity: 1
  .board &
    overflow: visible
    text-indent: 0
  .board .open &
    width: 253px
    height: 253px
    background-color: #000
    border: 4px solid #F2F1F0
    border-radius: 131px
    margin: -131px 0 0 -131px
    box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2)
    &:hover
      box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2)
//.board-hint.reverse.open .plus-circ
  //left: -66px
//.opened .plus-circ
  //z-index: -1
.no-borderradius .plus-circ
  border: none
  width: 46px
  height: 46px
  margin: -23px 0 0 -23px
  box-shadow: none
  background: url(../images/bg/plus-circle.png) 0 0 no-repeat

/* sleep */
.sleep
  padding-top: 80px
  background: #f2f1f0 url(../images/bg/sleep.jpg) 0 50px no-repeat
  &-promo
    width: 790px
    margin: auto
    padding-bottom: 55px
    text-align: center
    &:before
      content: ""
      display: block
      margin: 30px auto
      width: 125px
      height: 2px
      background: #000
  &-img
    display: block
    margin: 30px auto 0
  &-header
    margin-top: 10px
    font: 15px/17px $bold
    text-align: center
  &-content
    max-width: 665px
    padding: 15px 0 0 60px
    & p
      margin: 0
  &-hint
    margin-top: 15px
    font: 18px/29px $serif
    max-width: 735px
    & p
      margin: 0
  &-open
    display: block
    position: relative
    background: #e7e5e3
    padding: 20px 0 15px
    border-top: 2px solid #d9d6d2
    font: 13px/15px $bold
    text-align: center
    text-decoration: none
    text-transform: uppercase
    &:before,
    &:after
      content: ""
      position: absolute
      left: 50%
      top: -2px
      width: 0
      height: 0
    &:before
      margin-left: -14px
      border: 14px outset transparent
      border-top-color: #d9d6d2
      border-style: solid
    &:after
      margin-left: -12px
      border: 12px outset transparent
      border-top-color: #f2f1f0
      border-style: solid
    .open &:before,
    .open &:after
      display: none
  .open &-open .o,
  &-open .c
    display: none
  .open &-open .c
    display: inline
.expert
  float: left
  width: 220px
  text-align: center
  font-size: 15px
  line-height: 17px
  &-hidden,
  .open &-promo
    display: none
  .open &-hidden
    display: block
  &-space
    padding-top: 55px
  &-name
    margin-top: 12px
    font: 19px/22px $bold
  &.side
    float: right
  .inter &
    transition: padding .25s
    padding-bottom: 30px
  .space-inter &
    padding-bottom: 0
    img
      display: block
  .inter .open &
    padding-bottom: 0

.open-close
  display: inline-block
  vertical-align: middle
  width: 15px
  height: 15px
  background: url(../images/bg/open-close.png) 0 0 no-repeat
  margin-right: 5px
  .open &
    background-position: 0 -30px


/* vote */
.vote
  color: #fff
  background: #000 url(../images/bg/vote.jpg) 50% no-repeat
    size: cover
  min-height: 398px
  padding: 50px 0
  .page-width
    position: relative
  .page-header
    color: #fff
  &-quest
    font-size: 19px
    line-height: 21px
    padding-top: 20px
    text-align: center
    max-width: 540px
    margin: auto
  &-answer
    padding-top: 55px
    max-width: 350px
    margin: auto
  &-container
    width: 385px
    margin: 55px auto 0
  &-holder
    transition: all .3s ease
  &-result
    position: absolute
    left: 50%
    top: 0
    margin-left: -400px
    width: 800px
    max-height: 0
    overflow: hidden
    text-align: center
    opacity: 0
    transform: scale(.6)
    transition: transform .3s ease, opacity .3s ease
    &-tab
      margin-top: 30px
      display: inline-table
    &-row
      display: table-row
    &-cell
      padding: 5px 0
      display: table-cell
    &-lab
      text-align: right
      .selected &
        color: #d0383f
    &-val
      padding-left: 15px
    &-value
      display: inline-block
      vertical-align: middle
      width: 147px
      height: 8px
      position: relative
      overflow: hidden
      background-color: #dddad6
      border-radius: 4px
      span
        position: absolute
        left: 0
        top: 0
        height: 8px
        background-color: #d0383f
  .voted &-holder
    transform: scale(1.2)
    opacity: 0
  .voted &-result
    max-height: 400px
    transform: scale(1)
    opacity: 1
  &-row
    padding-top: 15px
  &-chk
    float: left
    margin: 0 10px 0 0
    width: 16px
    height: 15px
  &-label
    display: block
    font-size: 15px
    line-height: 17px
    overflow: hidden
  &-submit
    padding-top: 55px
    text-align: center

/* footer next page */
.next-step
  display: block
  text-align: center
  text-decoration: none
  background: #000
  &.comf
    height: 148px
    color: #fff
    background: #000 url(../images/bg/next-step-comf.jpg) 50% no-repeat
  &.comfort
    height: 148px
    color: #fff
    background: #000 url(../images/bg/next-step-comfort.jpg) 50% no-repeat
  &.vine
    height: 149px
    color: #fff
    background: #000 url(../images/bg/next-step-vine.jpg) 50% no-repeat
  &.space
    height: 149px
    color: #fff
    background: #000 url(../images/bg/next-step-space.jpg) 50% no-repeat
  &.style
    height: 149px
    color: #fff
    background: #080808 url(../images/bg/next-step-style.jpg) 100% 50% no-repeat
  &.haute
    height: 149px
    color: #fff
    background: #080808 url(../images/bg/next-step-haute.jpg) 100% 50% no-repeat
  &-text
    font-size: 15px
    line-height: 17px
  &-header
    display: inline-block
    margin-top: 5px
    padding-right: 18px
    padding-top: 2px
    background: url(../images/bg/next-step-header.png) 100% no-repeat
    font: 28px/30px $bold
    text-transform: uppercase
  &-tab,
  &-cell
    width: 100%
    height: 100%
  &-tab
    display: table
  &-cell
    display: table-cell
    vertical-align: middle

/* buttons */
.social-footer
  margin-top: 60px
  padding: 20px 0 25px
  width: 705px
  border-top: 2px solid #dddad6
  &:after
    content: ""
    clear: both
    height: 0
    display: block
  &-side
    float: right
    margin-left: 60px

/* versa */
.versa
  position: relative
  padding: 30px 35px 70px
  max-width: 1210px
  margin: auto
  &-label
    position: absolute
    width: 38px
    height: 39px
    left: 50%
    top: 50%
    margin: -100px 0 0 -19px
    background: url(../images/bg/versa.png) 0 0 no-repeat
    text-indent: -9999px
    overflow: hidden
    z-index: 2
    .wine &
      top: 80px
      margin-top: 0
    .wine-vs &
      top: 80px
      margin-top: 0
  &-img
    float: left
    position: relative
    width: 50%
    padding-bottom: 85px
    img
      display: block
      max-width: 100%
  &-title
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    font: 27px/28px $serif
    text-align: center
.vote-rating
  display: none
  position: relative
  background: #ccc
  color: #fff
  border-radius: 15px
  height: 30px
  width: 170px
  margin: 27px auto 2px
  overflow: hidden
  i
    position: absolute
    left: 0
    top: 0
    height: 100%
    background: #d0383f
  span
    display: block
    text-align: center
    font: 12px/30px $bold
    position: relative
    z-index: 2
  .versa-done &
    display: block
.versa-done .btn-vote
  display: none

/* inter */
.inter
  padding-top: 45px
  background-color: $dark-cream
  .page-header:after
    content: ""
    display: block
    width: 125px
    height: 2px
    background: #000
    margin: 30px auto 0
  &-quote
    position: relative
    margin-top: 20px
    max-width: 590px
    padding-bottom: 10px
    font: 18px/29px $serif
    &-header
      font: 19px/22px $bold
      padding: 0 0 15px
    &.top
      margin-top: 80px
    &.htop
      margin-top: 60px
    &:before,
    &:after
      content: ""
      width: 40px
      position: absolute
    &:before
      left: -57px
      top: 0
      height: 33px
      background: url(../images/bg/inter-quote-before.png) 0 0 no-repeat
    &:after
      right: -53px
      bottom: 0
      height: 32px
      background: url(../images/bg/inter-quote-after.png) 0 0 no-repeat
    &-img
      position: absolute
      right: -250px
      top: 50%
      margin-top: -45px
      img
        display: block
        margin: 0 auto
    &-title
      position: absolute
      left: 50%
      top: 100%
      width: 100px
      margin-left: -50px
      margin-top: 5px
      text-align: center
      font: 15px/18px $regular !important
    .inter-col.side &-img
      right: auto
      left: -250px
    &.md
      max-width: 670px
  &-col
    width: 690px
    padding-left: 50px
    &-smaller
      width: 615px
    .inter-quote
      max-width: 100%
  &-col.side,
  &-col-smaller.side
    float: right
    padding-left: 0
  &-col.space
    padding-top: 120px
  &-text
    position: relative
    font-size: 15px
    line-height: 18px
    p
      margin: 10px 0 0
    ul
      margin: 10px 0 0
      padding: 0
      list-style: none
      li
        margin-top: 5px
      li:before
        content: "—"
        display: inline-block
        margin-right: 20px
    &.min
      max-width: 670px
.haute-secrets
  padding-top: 40px
  min-height: 310px
  background: url(../images/bg/haute-secrets.jpg) 68px 60px no-repeat
.secrets-header
  margin: 15px 0 0
  font: 22px/24px $bold
  text-align: center
  text-transform: uppercase
.secrets-subheader
  text-align: center
  font-size: 15px
  line-height: 18px
  padding: 10px 0 20px
.haute-secrets.recipe
  padding-top: 0
  background: url(../images/bg/recipe.jpg) 0 100% no-repeat
.secret-recipe
  padding-top: 30px
.recipe-header
  margin: 15px 0 0
  font: 15px/18px $bold
.secret-col
  float: left
  width: 320px
  margin-left: 35px
  &:first-child
    margin-left: 0
  &-item
    position: relative
    margin-top: 30px
    font-size: 15px
    line-height: 18px
  &-num
    position: absolute
    width: 40px
    left: -47px
    top: 0
    text-align: right
    font: 19px/21px $bold
  &-header
    font: 19px/21px $bold
    text-align: center
    padding: 10px 0
.register
  position: relative
  height: 592px
  padding-top: 50px
  background: #000 url(../images/bg/register.jpg) 50% no-repeat
  font-size: 15px
  line-height: 18px
  text-align: center
  color: #fff
  .page-header
    max-width: 1000px
  p a
    color: #d0383f
  .page-header
    padding-bottom: 20px
  p
    margin: 0 0 20px
.card-number
  position: absolute
  left: 50%
  top: 256px
  width: 424px
  margin: 0 0 0 -212px
  padding: 5px 0
  border: none
  background-color: #ccc
  color: #666
  border-radius: 31px
  font: 44px/46px $regular
  text-align: center
  transition: opacity .25s ease, transform .25s ease, left .25s .25s ease
  z-index: 2
  &:focus
    outline: none
  .registered &
    opacity: 0
    transform: scale(1.5)
    left: -9999px
.card-form
  width: 358px
  height: 234px
  margin: 0 auto 30px
  background: url(../images/bg/card-form.png) 0 0 no-repeat
  text-align: center
  transform: scale(.8)
  opacity: 0
  transition: opacity .25s ease, transform .25s ease
  &-header
    font: 19px/21px $bold
    padding: 75px 0 15px
  .registered &
    transform: scale(1)
    opacity: 1
.card-steps
  text-align: center
  padding: 15px 0 40px
.card-step
  display: inline-block
  vertical-align: middle
  padding: 0 14px
  &-num
    display: inline-block
    vertical-align: middle
    margin: 0 7px 0 0
    width: 33px
    height: 33px
    text-align: center
    border: 2px solid #fff
    border-radius: 19px
    font: 26px/33px $regular
  p
    margin: 0
    display: inline-block
    vertical-align: middle
    text-align: left

/* recipe */
@-webkit-keyframes clock
  0%
    transform: rotate(5deg)
  33%
    transform: rotate(0deg)
  66%
    transform: rotate(-5deg)
  100%
    transform: rotate(0deg)
@keyframes clock
  0%
    transform: rotate(5deg)
  33%
    transform: rotate(0deg)
  66%
    transform: rotate(-5deg)
  100%
    transform: rotate(0deg)
.recipe
  &-promo
    display: none
    padding-top: 40px
  &-content
    //display: none
    padding-top: 15px
  &-table
    margin-top: 25px
    padding: 35px 0
    min-height: 564px
    background: #ece7e0 url(../images/bg/table.jpg) 0 0 no-repeat
      size: cover
    .page-width
      position: relative
  &-clock
    position: absolute
    right: 0
    top: 0
    width: 58px
    height: 70px
    padding: 7px 5px 0
    cursor: default
    &-icon
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: url(../images/bg/recipe-clock.png) 0 0 no-repeat
      z-index: 1
    &-title
      text-align: center
      position: relative
      z-index: 2
      padding-top: 30px
      font: 13px/15px $regular
      &-tab,
      &-cell
        width: 100%
        height: 100%
      &-tab
        display: table
      &-cell
        display: table-cell
        vertical-align: middle
    &:hover &-icon
      -webkit-animation: clock .08s linear 3
      animation: clock .08s linear 3
  &-popup
    position: absolute
    cursor: default
    right: 80px
    top: 0
    color: #000
    font: 14px/16px $regular
    width: 216px
    max-height: 0
    overflow: hidden
    font: 15px/20px $regular
    background-color: #F4F3F2
    border-radius: 5px
    transition: opacity .25s .25s ease, top .25s .25s ease
    opacity: 0
    .recipe-clock:hover &
      opacity: 1
      top: 8px
      border: 1px solid #DDDAD6
      padding: 15px 15px 10px
      overflow: visible
      max-height: 800px
    table,
    td
      margin: 0
      padding: 0
      border-collapse: collapse
    table
      width: 100%
    td
      padding: 2px 0
      text-align: right
    tr.current td
      color: #d4333b
    tr:last-child td
      padding-bottom: 10px
    tfoot td
      padding-top: 10px
      border-top: 1px solid #dddad6
      font-family: $bold
    td:first-child
      text-align: left
    tfoot td:first-child
      font-family: $regular
    &:before,
    &:after
      content: ""
      position: absolute
      width: 0
      height: 0
    &:before
      top: 25px
      right: -20px
      border: 10px outset transparent
      border-left-color: #DDDAD6
      border-left-style: solid
    &:after
      top: 26.5px
      right: -16px
      border: 8px outset transparent
      border-left-color: #F4F3F2
      border-left-style: solid
  &-hints
    background: $dark-cream
    padding: 20px 0
    &-user
      float: left
      margin-left: 60px
  &-hint-popup
    float: right
    margin-top: 20px
    width: 570px
    background: #fff
    padding: 25px 25px 25px 50px
    position: relative
    border-radius: 5px
    &:before,
    &:after
      content: ""
      position: absolute
    &:before
      top: 5px
      left: -50px
      width: 0
      height: 0
      border: 25px outset transparent
      border-right-style: solid
      border-right-color: #fff
    &:after
      width: 25px
      top: 5px
      left: -25px
      height: 25px
      background: $dark-cream
  &-hint-prev,
  &-hint-next
    position: absolute
    width: 22px
    height: 22px
    bottom: -15px
    text-indent: -9999px
    overflow: hidden
    background: #000 url(../images/bg/recipe-hint-btns.png) no-repeat
    border: 4px solid $dark-cream
    border-radius: 15px
    &.disabled
      background-color: #d0cbc2
      cursor: default
  &-hint-prev
    right: 94px
    background-position: 0 0
  &-hint-next
    right: 62px
    background-position: -33px 0
  &-hint-num
    float: left
    margin: 0 5px 0 0
    font: 19px/21px $bold
.zut
  float: left
  position: relative
  z-index: 3
  width: 314px
  &-top
    background: url(../images/bg/zut-top.png) 0 0 no-repeat
    padding: 40px 0 0
  &-btm
    background: url(../images/bg/zut-btm.png) 0 100% no-repeat
    padding: 0 0 30px
  &-bg
    background: $dark-cream
    border: 1px solid #dddad6
    border-width: 0 1px
    padding: 0 25px 45px
  &-header
    font: 19px/21px $bold
    text-align: center
  &-subheader
    padding: 0 0 30px
    text-align: center
  &-row
    position: relative
    border-bottom: 1px solid #dddad6
    padding: 18px 0 2px 30px
    transition: color .25s ease
    span
      float: right
    &.disabled
      color: #999
      padding-left: 0
  &-icon
    position: absolute
    left: -30px
    bottom: 3px
    width: 60px
    text-align: center
    img
      display: block
      margin: 0 auto
    .disabled &
      display: none
/* premium */
.premium
  display: block
  &-header
    margin: 85px 0 0
    font: 19px/21px $bold
    text-align: center
  &-subheader
    padding-top: 95px
.bonus-header
  max-width: 800px
.bonus-feats
  padding-bottom: 100px
.bonus-features
  padding-top: 50px
.bonus-feature
  float: left
  width: 25%
  &-icon
    position: relative
    width: 159px
    img
      display: block
    .plus-circ
      left: auto
      right: -20px
      top: 50%
      z-index: 2
  &-popup
    position: absolute
    left: -50px
    top: -30px
    width: 200px
    text-align: center
    background-color: $dark-cream
    border-radius: 5px
    opacity: 0
    max-height: 0
    transition: opacity .25s, top .25s
    overflow: hidden
    z-index: 3
    &:before
      content: ""
      display: block
      width: 50px
      height: 2px
      background: #000
      margin: 0 auto 20px
    .open &
      padding: 40px 25px 15px
      top: 0
      border: 1px solid #DDDAD6
      opacity: 1
      max-height: 800px
      min-height: 108px
    &-close
      position: absolute
      right: 10px
      top: 10px
      width: 15px
      height: 15px
      background: url(../images/bg/travel-popup-close.png) 0 0 no-repeat
      text-indent: -9999px
      overflow: hidden
  &-label
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1
  &-tab,
  &-cell
    width: 100%
    height: 100%
  &-tab
    display: table
  &-cell
    display: table-cell
    vertical-align: middle
    color: #fff
    font: 21px/20px $serif
    span
      display: block
      font-size: 70px
      letter-spacing: -3px
      line-height: 70px
      .smaller &
        font-size: 55px
        line-height: 55px
      .pressed &
        line-height: 50px
        letter-spacing: 0
      span
        display: inline
        font-size: 21px
.chair-stats-popup-title
  font-family: $bold
/* wishes */
.wishes
  background: #000 url(../images/bg/wishes.jpg) 50% 0 no-repeat
  color: #fff
  min-height: 500px
  &-subheader
    padding-top: 10px
  &-footer
    padding-top: 95px
    width: 440px
    margin: auto
    .btn
      float: left
    .btn.side
      float: right
.wish
  position: absolute
  left: 0
  top: 0
  width: 100%
  padding-top: 50px
  font: 21px/31px $serif
  max-width: 555px
  margin: auto
  opacity: 0
  transform: scale(.6)
  transition: transform .25s ease
  &:before
    content: ""
    display: block
    width: 128px
    margin: 0 auto 55px
    height: 2px
    background: #fff
.wish.current
  position: static
  left: auto
  top: auto
  transform: scale(1)
  opacity: 1

/* travel */
.travel
  position: relative
  background-repeat: no-repeat
  background-position: 100% 0
  &.loading
    background: #fff url(../images/loading48.gif) 50% no-repeat
  &-content
    padding-top: 40px
    padding-bottom: 90px
    text-align: center
  &-footer
    padding: 0 0 90px
    text-align: center
  &-subheader
    padding-top: 40px
    font: 19px/21px $bold
  &-subheader-desc
    padding-top: 20px
  &-list
    padding-top: 95px
    min-height: 192px
    font-size: 0
    transition: all .25s
    &.move-out
      opacity: 0
      transform: scale(1.2)
  &-item
    position: relative
    display: inline-block
    vertical-align: top
    cursor: pointer
    width: 25%
    &.active
      z-index: 2
  &-img
    position: relative
    margin: auto
    width: 159px
    border-radius: 80px
    img
      display: block
      border-radius: 80px
      .disabled &
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
        filter: gray
        -webkit-filter: grayscale(100%)
    i
      position: absolute
      right: 5px
      bottom: 5px
      width: 34px
      height: 34px
      border: 2px solid #fff
      border-radius: 19px
      box-shadow: 0 0 4.8px 0.3px rgba(255,255,255,0.2)
      background: #000 url(../images/bg/test-check.png) 50% no-repeat
      opacity: 0
      transition: opacity .05s
      overflow: hidden
      .checked &
        opacity: 1
    b
      opacity: 1
      position: absolute
      &:before,
      &:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        background: #fff
        opacity: 0
        transition: opacity .25s ease
      &:before
        width: 18px
        height: 2px
        margin: -1px 0 0 -9px
      &:after
        width: 2px
        height: 18px
        margin: -9px 0 0 -1px
      .no-touch &:hover
        box-shadow: 0 0 15px #fff
      .touch &:active
        box-shadow: 0 0 15px #fff
      .done &
        opacity: 1
        width: 34px
        height: 34px
        background: #000
        bottom: 50%
        right: 0
        margin: 0 -19px -19px 0
        border: 2px solid #fff
        border-radius: 19px
        box-shadow: 0 0 4.8px 0.3px rgba(255,255,255,0.2)
        text-indent: -9999px
        overflow: hidden
        transition: all .25s ease
        z-index: 2
        &:before,
        &:after
          opacity: 1
  &.invalid .btn-next
    opacity: .3
    cursor: default
  &-label
    text-align: center
    font-size: 15px
    line-height: 18px
    padding-top: 15px
  .btn-reset,
  &.done .btn-next
    display: none
  &.done .btn-reset
    display: block
  &-selected-title
    font-family: $bold
  &-popup
    position: absolute
    left: 50%
    top: 0
    width: 0
    margin-left: -228px
    background-color: #F4F3F2
    border: 0 solid transparent
    border-radius: 5px
    max-height: 0
    overflow: hidden
    transition: opacity .25s ease, top .25s ease
    .active &
      opacity: 1
      top: 30px
      width: 396px
      padding: 45px 25px 25px 35px
      max-height: 1000px
      border-color: #DDDAD6
      z-index: 2
    &-close
      position: absolute
      right: 10px
      top: 10px
      width: 15px
      height: 15px
      background: url(../images/bg/travel-popup-close.png) 0 0 no-repeat
      text-indent: -9999px
      overflow: hidden
  &-desc-header
    color: #cf383f
    font: 15px/20px $bold
    padding: 0 0 30px
    text-align: center
    &:after
      content: ""
      display: block
      margin: 25px auto 0
      width: 50px
      height: 2px
      background: #000
  &-desc-content
    font-size: 15px
    text-align: left
    dl
      margin: 0
      padding: 0
    dt
      display: inline-block
      vertical-align: top
      font-family: $bold
      margin: 0
      padding: 0
    dd
      display: inline-block
      vertical-align: top
      margin: 0
      padding: 0
      p
        margin: 0
  &-desc-footer
    padding-top: 30px
    font-size: 13px
    line-height: 16px
    text-align: center


/* wine */
.wine
  border-top: 1px solid #dddad6
  box-shadow: inset 0 1px 0 #fff
  .page-header
    max-width: 760px
  &-guide
    padding: 40px 0 70px
    background: #fff url(../images/bg/wine-guide.jpg) 50% 100% no-repeat
    .page-header
      max-width: 1000px
      padding-bottom: 85px
      &:after
        content: ""
        margin: 30px auto 0
        display: block
        width: 128px
        height: 2px
        background: #000
  &-carousel
    position: relative
    width: 1000px
    //overflow: hidden
    margin: auto
    padding-bottom: 70px
  &-slicer
    width: 1020px
    margin: 0 -10px
    position: relative
    //overflow: hidden
  &-item
    position: relative
    float: left
    width: 170px
    &.open
      z-index: 2
    a
      display: block
      text-decoration: none
    &-title
      text-align: center
      font-size: 15px
      line-height: 18px
      padding-top: 10px
    &-popup
      transition: all .25s
      position: absolute
      left: 50%
      top: 60px
      width: 420px
      max-height: 0
      opacity: 0
      overflow: hidden
      font-size: 13px
      text-align: center
      line-height: 16px
      padding: 0 10px
      margin-left: -220px
      background-color: $dark-cream
      border-radius: 5px
      &-close
        position: absolute
        right: 10px
        top: 10px
        width: 15px
        height: 15px
        background: url(../images/bg/board-popup-close.png) 0 0 no-repeat
        text-indent: -9999px
        overflow: hidden
      &-title
        padding: 20px 0 10px
        font: 15px/17px $bold
        &:after
          content: ""
          display: block
          width: 50px
          height: 2px
          background: #000
          margin: 15px auto 0
      .open &
        top: 80px
        opacity: 1
        padding-bottom: 5px
        border: 1px solid #DDDAD6
        max-height: 800px
    img
      display: block
      margin: 0 auto
/* wine contest */
.wine-vs
  padding-top: 40px
  .page-header
    max-width: 1000px
  &-subheader
    text-align: center
    padding-top: 10px
  &-holder
    position: relative
    padding-top: 30px
    img
      display: block
      margin: 0 auto
  &-name
    font: 27px/28px $serif
    padding-bottom: 20px
    &:after
      content: ""
      display: block
      width: 30px
      height: 2px
      background: #000
      margin: 15px auto 0
  &-title
    position: absolute
    bottom: 100px
    width: 330px
    text-align: center
    &-text
      min-height: 200px
  &-title.first
    left: 0
  &-title.second
    right: 0
.chair-space
  background: #fff url(../images/bg/chair-space.jpg) 50% 100% no-repeat
  min-height: 805px
  &-info
    padding: 60px 0
    background: #f2f1f0
  &-subheader
    padding: 15px 0 45px
    line-height: 17px
    font-size: 15px
    max-width: 810px
    margin: auto
    text-align: center
.chair-info-img
  float: right
  margin-left: 15px
.chair-info-desc
  font: 18px/29px $serif
  padding-top: 50px
.chair-stats
  background: #e5e3e1
  padding-bottom: 75px
  &-header
    padding: 50px 0 60px
    text-align: center
    font: 19px/22px $bold
  &-item
    float: left
    width: 25%
    .plus-circ
      left: auto
      right: -22px
      top: -18px
      top: 50%
  &-img
    position: relative
    width: 159px
    text-align: center
  &-label
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1
  &-tab,
  &-cell
    width: 100%
    height: 100%
  &-tab
    display: table
  &-cell
    display: table-cell
    vertical-align: middle
    color: #fff
    font: 21px/20px $serif
    span
      display: block
      font-size: 70px
      letter-spacing: -3px
      line-height: 70px
      .smaller &
        font-size: 55px
        line-height: 55px
      .pressed &
        line-height: 50px
        letter-spacing: 0
      sup
        font-size: 21px
      span
        display: inline
        font-size: 21px
.interview-preview
  height: 292px
  background:
    repeat: no-repeat
    position: 50%
    size: cover
  text-align: center
.main
  height: 100%
  background: #000 url(../images/bg/main.jpg) 50% no-repeat
    size: cover
  color: #fff
  &-header
    font: 58px/60px $bold
    text-align: center
    text-transform: uppercase
  &-tab,
  &-cell
    width: 100%
    height: 100%
  &-tab
    display: table
  &-cell
    display: table-cell
    vertical-align: middle
    text-align: center
  &-content
    padding: 100px 0
  .footer
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    z-index: 2
  &-select
    font-size: 18px
    line-height: 20px
    padding-top: 75px
    text-transform: uppercase
  &-menu
    margin-top: 15px
    background: #000
    .promo &
      position: absolute
      left: 0
      top: 100%
      width: 100%
      margin-top: -161px
      z-index: 2
    ul
      margin: 0 auto
      padding: 0
      list-style: none
      width: $page-width
      transition: width .25s ease, padding-right .25s ease
      display: table
      li
        display: table-cell
        vertical-align: middle
        font-size: 18px
        line-height: 20px
        transition: all .25s ease
        color: #fff
        text-transform: uppercase
        a
          position: relative
          color: #fff
          display: block
          padding: 20px 0 25px
          text-decoration: none
    .collapsed & ul,
    .fixed & ul
      width: 757px
      padding-right: 23px
      li
        font-size: 13px
        line-height: 15px
    .fixed & ul
      opacity: 0
    i
      display: block
      height: 86px
      margin: 0 auto 15px
      transition: opacity .25s
      background: url(../images/bg/menu.png) 0 0 no-repeat
      &.menu-1
        width: 84px
        background-position: 0 0
      &.menu-2
        width: 97px
        background-position: -167px 0
      &.menu-3
        width: 91px
        background-position: -328px 0
      &.menu-4
        width: 87px
        background-position: -523px 0
      &.menu-5
        width: 86px
        background-position: -682px 0
      &.menu-6
        width: 64px
        background-position: -849px 0
      .collapsed &,
      .fixed &
        opacity: 0
  &-text
    padding-top: 55px
    font: 19px/25px $serif
/* entertainment */
.ent
  padding-top: 40px
  height: 588px
  background: #000 url(../images/bg/ent.jpg) no-repeat 50%
  .page-header
    color: #fff
    max-width: 1000px
    &:after
      content: ""
      width: 130px
      height: 2px
      background: #fff
      margin: 30px auto 0
      display: block

.reviews
  background: #080808 url(../images/bg/reviews.jpg)
    size: cover
  padding: 65px 0 120px
  .page-header
    color: #fff
    max-width: 1000px
    &:after
      content: ""
      width: 130px
      height: 2px
      background: #fff
      margin: 30px auto 0
      display: block
  &-list
    padding-top: 80px
  &-item
    float: left
    width: (100%/4)
    text-align: center
    font-size: 15px
    line-height: 19px
    color: #fff
  &-img
    position: relative
    width: 159px
    margin: auto
  &-name
    padding: 10px 0 2px
    font: 19px/21px $bold
  .plus-circ
    left: auto
    right: -18px
    margin-top: -18px
    top: 50%
.rate-movie
  padding: 60px 0 90px
  .page-header
    max-width: 1000px
    padding-bottom: 90px
    &:after
      content: ""
      width: 130px
      height: 2px
      background: #000
      margin: 30px auto 0
      display: block
.rate-movie-item
  float: left
  width: (100%/4)
  text-align: center
  img
    display: block
    margin: 0 auto
  &-title
    font: 18px/23px $serif
    min-height: 46px
    padding-bottom: 10px

.sky .page-header:after
  display: none
.sky-subheader
  text-align: center
  padding: 15px 0 0
.sky-space
  padding-left: 80px

/* custom inputs */
.customizedElements,
.customizedElement
  position: absolute
  left: -9999px

.customRadio
  &,
  &Checked
    float: left
    margin-right: 15px
    width: 19px
    height: 19px
    background: url(../images/bg/radio.png) no-repeat
    overflow: hidden

  &Checked
    background-position: 0 -30px

/* checkboxes */
.customCheckbox
  &,
  &Checked
    float: left
    width: 19px
    height: 19px
    margin-right: 15px
    overflow: hidden
    background: url(../images/bg/checkbox.png) no-repeat
  &Checked
    background-position: 0 -30px
#space_left,
#space_right
  position: absolute
  top: 200px
  left: 50%
  transition: margin-left .25s linear

/* UI slider */
.slider-chair
  &-holder
    position: absolute
    left: 50%
    bottom: 75px
    width: 500px
    margin-left: -250px
  &-title
    position: absolute
    left: 50%
    margin-left: -175px
    bottom: 110px
    width: 350px
    font: 18px/25px $serif
    text-align: center
    opacity: 0
    transition: opacity .25s ease
    &.show
      opacity: 1
  &-val
    position: absolute
    left: 50%
    margin-left: -175px
    bottom: 52px
    width: 350px
    font: 15px/17px $regular
    text-align: center
.ui-slider
  position: relative
  text-align: left
  &-handle
    position: absolute
    z-index: 2
    width: 1.2em
    height: 1.2em
    cursor: default
    -ms-touch-action: none
    touch-action: none
    #chair_space &
      width: 22px
      height: 22px
      background: #000
      border-radius: 14px
      border: 2px solid #fff
      &:before
        content: ""
        position: absolute
        left: 50%
        top: 50%
        margin: -5px 0 0 -5px
        width: 10px
        height: 10px
        background: #fff
        border-radius: 5px
  &-range
    position: absolute
    z-index: 1
    font-size: .7em
    display: block
    border: 0
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range
  filter: inherit
#chair_space .ui-slider-horizontal
  background: #dddad6
  height: 5px
  border: 6px solid #f4f3f2
  border-radius: 9px
#chair_space .ui-slider-horizontal .ui-slider-handle
  top: -11px
  margin-left: -13px
#chair_space .ui-slider-horizontal .ui-slider-range
  top: -6px
  height: 17px
  background: #D43038
  opacity: .85
.ui-slider-horizontal .ui-slider-range-min
  left: 0
.ui-slider-horizontal .ui-slider-range-max
  right: 0
