@charset "UTF-8";
@font-face {
  font-family: "flightcregular";
  src: url("../fonts/flight_cyrillic_-webfont.eot");
  src: url("../fonts/flight_cyrillic_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flight_cyrillic_-webfont.woff") format("woff"), url("../fonts/flight_cyrillic_-webfont.ttf") format("truetype"), url("../fonts/flight_cyrillic_-webfont.svg#flightcregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flightcbold";
  src: url("../fonts/flight_bold_cyrillic_-webfont.eot");
  src: url("../fonts/flight_bold_cyrillic_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flight_bold_cyrillic_-webfont.woff") format("woff"), url("../fonts/flight_bold_cyrillic_-webfont.ttf") format("truetype"), url("../fonts/flight_bold_cyrillic_-webfont.svg#flightcbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: none;
}

.ccl_clear {
  zoom: 1;
}
.ccl_clear:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
}
.ccl_zfix {
  overflow: hidden;
  zoom: 1;
}
.ccl_bg {
  background-color: #f5f6f8;
  margin: 25px 25px 0;
  padding-bottom: 35px;
}
.cclWrapper {
  position: relative;
  width: 981px;
  margin: auto;
/*   padding-right: 179px; */
}
.cclAnchor {
  position: absolute;
  left: 50%;
  top: 0;
  width: 62px;
  margin-left: 490px;
}
.cclAnchor.hide {
  display: none;
}
.cclAnchor_wrapper {
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  z-index: 2;
}
.cclAnchor a {
  display: block;
  position: relative;
  height: 62px;
  background-color: #003976;
  border-top: 1px solid #02458d;
}
.cclAnchor a:first-child {
  border-top: none;
}
.cclAnchor a.current {
  background-color: #fff;
}
.cclAnchor a .cclIco {
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.cclAnchor a span {
  display: none;
  position: absolute;
  right: 100%;
  top: 50%;
  margin: -18px 3px 0 0;
  padding: 9px 30px;
  color: #fff;
  background-color: #ff8b00;
  white-space: nowrap;
  font: 16px/19px Arial, sans-serif;
}
.cclAnchor a span:before, .cclAnchor a span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  border: outset transparent;
  border-left-style: solid;
}
.current .cclAnchor a span:before, .current .cclAnchor a span:after {
  display: none;
}
.cclAnchor a span:before {
  margin-top: -12px;
  border-width: 12px;
  border-left-color: #fff;
}
.cclAnchor a span:after {
  margin-top: -8px;
  border-width: 8px;
  border-left-color: #ff8b00;
}
.cclAnchor a:hover span {
  display: block;
}
.cclAnchor a.current span, .cclAnchor a.current:hover span {
  display: none;
}
.cclTop {
  position: relative;
}
.cclTop img {
  display: block;
}
.cclTitle {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font: 30px/32px "flightcbold", sans-serif;
  text-shadow: 0 1px 0 rgba(2, 69, 141, 0.75);
}
.cclNav {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.cclNav a {
  display: inline-block;
  vertical-align: middle;
  width: 206px;
  text-align: center;
  text-decoration: none;
  margin-left: 12px;
  font: bold 16px/23px Arial, sans-serif;
  color: #fff;
  background-color: #02458d;
  border-radius: 2px 2px 0 0;
  padding: 10px 0;
}
.cclNav a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 22px;
  margin-right: 10px;
  background-image: url(../images/sp.png);
  background-repeat: no-repeat;
}
.cclNav a:first-child {
  margin-left: 0;
}
.cclNav a.current, .cclNav a:hover {
  background-color: #fff;
  color: #02458d;
}
.cclNav a.current {
  cursor: default;
}
.cclNav-before:before {
  background-position: 0 0;
}
.cclNav-before.current:before, .cclNav-before:hover:before {
  background-position: 0 -30px;
}
.cclNav-underway:before {
  background-position: -30px 0;
}
.cclNav-underway.current:before, .cclNav-underway:hover:before {
  background-position: -30px -30px;
}
.cclNav-after:before {
  background-position: -60px 0;
}
.cclNav-after.current:before, .cclNav-after:hover:before {
  background-position: -60px -30px;
}
.cclPromoText {
  color: #02458d;
  text-align: center;
  font: 18px/26px Arial, sans-serif;
  padding: 35px 85px 0;
}
.cclPromoText_header {
  font: bold 24px/26px Arial, sans-serif;
}
.cclPromoText p {
  margin: 10px 0 0;
}
.cclHeader {
  position: relative;
  margin: 50px 104px 0 0;
  border-bottom: 1px solid #b3c7dd;
  color: #02458d;
  padding: 10px 0 10px 102px;
  font: 32px/34px Arial, sans-serif;
}
.ccl_bg .cclHeader {
  padding-left: 77px;
}
.cclHeader-nobd {
  border-bottom: none;
}
.cclContent {
  background-color: #fff;
  padding-bottom: 80px;
}
.cclContent-bg {
  padding-bottom: 0;
}
.cclLinks {
  background-color: #e9f2f9;
  padding: 0 0 30px 61px;
  border-radius: 0 0 5px 5px;
}
.cclLinks_item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 30px 0 0 40px;
  width: 229px;
  height: 121px;
  background-color: #fff;
  color: #00529c;
  border-radius: 5px;
  font: 16px/19px Arial, sans-serif;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
  box-sizing: border-box;
  text-decoration: none;
}
.cclLinks_item img {
  display: block;
  border-radius: 5px;
}
.cclLinks_item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  background-color: #003874;
  border-radius: 5px 5px 0 0;
}
.cclLinks_item:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 27px;
  height: 26px;
  border-radius: 0 0 5px 0;
  background: url(../images/sp.png) 0 -60px no-repeat;
}
.cclLinks_item.marked:before {
  background-color: #f8991c;
}
.cclLinks_item.warning:before {
  background-color: #e54f31;
}
.cclLinks_title {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 155px;
}
.cclIco {
  position: absolute;
  left: 45px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-image: url(../images/sp.png);
  background-repeat: no-repeat;
}
.ccl_bg .cclIco {
  left: 20px;
}
.cclIco-1 {
  background-position: -100px 0;
}
.cclAnchor .cclIco-1 {
  background-position: -240px 0;
}
.cclAnchor a:hover .cclIco-1 {
  background-position: -340px 0;
}
.cclAnchor .current .cclIco-1, .cclAnchor .current:hover .cclIco-1 {
  background-position: -100px 0;
}
.cclIco-2 {
  background-position: -100px -50px;
}
.cclAnchor .cclIco-2 {
  background-position: -240px -50px;
}
.cclAnchor a:hover .cclIco-2 {
  background-position: -340px -50px;
}
.cclAnchor .current .cclIco-2, .cclAnchor .current:hover .cclIco-2 {
  background-position: -100px -50px;
}
.cclIco-3 {
  background-position: -150px 0;
}
.cclAnchor .cclIco-3 {
  background-position: -290px 0;
}
.cclAnchor a:hover .cclIco-3 {
  background-position: -390px 0;
}
.cclAnchor .current .cclIco-3, .cclAnchor .current:hover .cclIco-3 {
  background-position: -150px 0;
}
.cclIco-4 {
  background-position: -150px -50px;
}
.cclAnchor .cclIco-4 {
  background-position: -290px -50px;
}
.cclAnchor a:hover .cclIco-4 {
  background-position: -390px -50px;
}
.cclAnchor .current .cclIco-4, .cclAnchor .current:hover .cclIco-4 {
  background-position: -290px -100px;
}
.cclIco-5 {
  background-position: 0 -100px;
}
.cclAnchor .cclIco-5 {
  background-position: -150px -100px;
}
.cclAnchor a:hover .cclIco-5 {
  background-position: -390px -100px;
}
.cclAnchor .current .cclIco-5, .cclAnchor .current:hover .cclIco-5 {
  background-position: 0 -100px;
}
.cclIco-6 {
  background-position: -50px -100px;
}
.cclAnchor .cclIco-6 {
  background-position: -240px -100px;
}
.cclAnchor a:hover .cclIco-6 {
  background-position: -340px -100px;
}
.cclAnchor .current .cclIco-6, .cclAnchor .current:hover .cclIco-6 {
  background-position: -50px -100px;
}
.cclIco-7 {
  background-position: -100px -100px;
}
.cclAnchor .cclIco-7 {
  background-position: -150px -150px;
}
.cclAnchor a:hover .cclIco-7 {
  background-position: -390px -150px;
}
.cclAnchor .current .cclIco-7, .cclAnchor .current:hover .cclIco-7 {
  background-position: -100px -100px;
}
.cclIco-8 {
  left: 43px;
  width: 44px;
  background-position: -100px -150px;
}
.cclIco-9 {
  background-position: -240px -150px;
}
.cclAnchor .cclIco-9 {
  background-position: -290px -150px;
}
.cclAnchor a:hover .cclIco-9 {
  background-position: -340px -150px;
}
.cclAnchor .current .cclIco-9, .cclAnchor .current:hover .cclIco-9 {
  background-position: -240px -150px;
}
.cclIco-10 {
  background-position: 0 -200px;
}
.cclAnchor .cclIco-10 {
  background-position: -50px -200px;
}
.cclAnchor a:hover .cclIco-10 {
  background-position: -100px -200px;
}
.cclAnchor .current .cclIco-10, .cclAnchor .current:hover .cclIco-10 {
  background-position: 0 -200px;
}
.cclIco-11 {
  background-position: -150px -200px;
}
.cclAnchor .cclIco-11 {
  background-position: -200px -200px;
}
.cclAnchor a:hover .cclIco-11 {
  background-position: -250px -200px;
}
.cclAnchor .current .cclIco-11, .cclAnchor .current:hover .cclIco-11 {
  background-position: -150px -200px;
}
.cclIco-12 {
  background-position: -350px -250px;
}
.cclAnchor .cclIco-12 {
  background-position: -250px -250px;
}
.cclAnchor a:hover .cclIco-12 {
  background-position: -300px -250px;
}
.cclAnchor .current .cclIco-12, .cclAnchor .current:hover .cclIco-12 {
  background-position: -200px -250px;
}
.cclOnBoard, .cclOnBoard_reverse {
  display: block;
  text-align: right;
  margin-top: 30px;
  padding: 20px 30px;
  background-color: #152b67;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font: bold 14px/16px Arial, sans-serif;
}
.cclOnBoard:after, .cclOnBoard_reverse:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 18px;
  margin-left: 10px;
  background: url(../images/sp.png) -30px -60px no-repeat;
}
.cclOnBoard_reverse {
  text-align: left;
}
.cclOnBoard_reverse:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 18px;
  margin-right: 10px;
  background: url(../images/sp.png) -50px -60px no-repeat;
}
.cclOnBoard_reverse:after {
  display: none;
}
.cclAccessories {
  margin-top: 50px;
  padding: 30px 40px 40px 100px;
  background-color: #152b67;
  color: #fff;
}
.cclAccessories_header {
  font: bold 16px/18px Arial, sans-serif;
}
.cclAccessories_list {
  display: table;
  width: 100%;
  margin-top: 35px;
}
.cclAccessories_item {
  display: table-cell;
}
.cclAccessories_wrap {
  float: left;
}
.cclAccessories_img {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 140px;
  border: 2px solid #fff;
  border-radius: 70px;
}
.cclAccessories_img img {
  display: block;
  margin: 0 auto;
}
.cclAccessories_tab, .cclAccessories_cell {
  width: 100%;
  height: 100px;
}
.cclAccessories_tab {
  display: table;
}
.cclAccessories_cell {
  display: table-cell;
  vertical-align: middle;
}
.cclAccessories_label {
  max-width: 140px;
  text-align: center;
  margin-top: 25px;
  font: 12px/14px Arial, sans-serif;
}
.cclText {
  color: #000;
  font: 12px/20px Arial, sans-serif;
  padding: 0 104px 0 101px;
}
.ccl_bg .cclText {
  padding: 0 79px 0 76px;
}
.cclText_header {
  margin: 20px 0 0;
  font-weight: bold;
  font-size: 16px;
  color: #02458d;
}
.cclText_column {
  float: left;
  width: 360px;
}
.cclText_column a {
  color: #000;
}
.cclText_column.side {
  float: right;
}
.cclText_column-links a {
  color: #02458D;
}
.cclText p {
  margin: 10px 0 0;
}
.cclText ul {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}
.cclText ul li {
  position: relative;
  padding: 0 0 0 10px;
}
.cclText ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
}
.cclText_hint, .cclText .cclText_hint {
  list-style: none;
}
.cclText_hint li, .cclText .cclText_hint li {
  position: static;
  line-height: 14px;
  padding: 6px 0 0;
}
.cclText_hint li:before, .cclText .cclText_hint li:before {
  display: none;
}
.cclText_hint a, .cclText .cclText_hint a {
  color: #02458D;
}
.cclText img {
  border-radius: 5px;
  margin-top: 12px;
}
.cclText-l {
  float: left;
  margin-right: 60px;
}
.cclText-r {
  float: right;
  margin-left: 60px;
}
.cclBtn {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 30px;
  margin-top: 20px;
  font: bold 16px/18px Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  text-decoration: none;
  color: #553721;
  background-color: #FB811E;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%);
  border: 1px solid #fca222;
  border-radius: 2px;
  border-top-color: #fcaa23;
  border-bottom-color: #fc9920;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(255, 255, 255, 0.7);
}
.cclChair_img {
  margin: 0 -15px 0 -6px;
}
.cclChair_title {
  margin: 4px 0 0;
  color: #152b67;
  font: bold 12px/14px Arial, sans-serif;
}
.cclMedia_columns {
  margin-top: 70px;
}
.cclMedia_item {
  display: block;
  position: relative;
}
.cclMedia_item.fancy-iframe {
  margin-top: 12px;
}
.cclMedia_item.fancy-iframe img {
  margin-top: 0;
}
.cclMedia_item.fancy-iframe:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #02458d;
  border-radius: 5px;
  opacity: 0.5;
}
.cclMedia_title {
  position: absolute;
  left: 0;
  bottom: 132px;
  text-align: center;
  width: 100%;
  font: bold 20px/24px Arial, sans-serif;
  color: #fff;
}
.cclInterior {
  position: relative;
  height: 583px;
  width: 930px;
  overflow: hidden;
  margin: 20px auto 0;
}
.cclInterior-econom {
  height: 466px;
}
.cclInterior_img {
  display: block;
  margin: 0 auto;
}
.cclInterior_imgHolder {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2000px;
  margin-left: -1000px;
}
.cclInterior_imgScale {
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.cclInterior_links {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -480px;
  width: 960px;
  height: 585px;
  z-index: 2;
}
.cclInterior_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: -18px 0 0 -18px;
  transition: margin 0.3s linear, width 0.3s linear, height 0.3s linear;
  text-decoration: none;
}
.cclInterior_plus.open {
  width: 160px;
  height: 160px;
  margin: -80px 0 0 -80px;
  z-index: 5;
}
.cclInterior_econom-1 {
  left: 220px;
  top: 300px;
}
.cclInterior_econom-2 {
  left: 385px;
  top: 350px;
}
.cclInterior_econom-3 {
  left: 727px;
  top: 247px;
}
.cclInterior_econom-4 {
  left: 725px;
  top: 375px;
}
.cclInterior_icon {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  background-color: #F7951D;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 rgba(255, 255, 255, 0.35);
  transition: width 0.3s linear, height 0.3s linear;
  border-radius: 85px;
  z-index: 4;
  cursor: pointer;
}
.open .cclInterior_icon {
  width: 166px;
  height: 166px;
  cursor: default;
}
.cclInterior_icon:before, .cclInterior_icon:after {
  content: "";
  background: #563720;
  position: absolute;
  overflow: hidden;
}
.cclInterior_icon:before {
  left: 25%;
  top: 50%;
  width: 50%;
  height: 10%;
  margin-top: -5%;
}
.cclInterior_icon:after {
  top: 25%;
  left: 50%;
  height: 50%;
  width: 10%;
  margin-left: -5%;
}
.cclInterior_icon img {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  border-radius: 85px;
  opacity: 0;
  transition: opacity 0.3s linear;
  border: 2px solid #F89A1C;
  z-index: 2;
}
.open .cclInterior_icon img {
  opacity: 1;
}
.cclInterior_title {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 200px;
  margin: 5px 0 0 -100px;
  color: #f99b1c;
  font: bold 16px/19px Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s linear;
  z-index: 1;
}
.open .cclInterior_title {
  opacity: 0;
}
.cclInterior_text {
  width: 0;
  overflow: hidden;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.open .cclInterior_text {
  opacity: 1;
}
.opened .cclInterior_text {
  width: 380px;
  overflow: visible;
}
.reverse .cclInterior_text {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: -75px;
}
.cclInterior_textBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 25, 82, 0.8);
  border-radius: 8px;
}
.cclInterior_textTitle {
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -156px;
  padding: 7px 0;
  color: #563720;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  font: bold 14px/16px Arial, sans-serif;
  width: 252px;
  text-align: center;
  background-color: #F89A1C;
  border-radius: 2px;
  z-index: 3;
  transition: margin-left 0.3s linear;
}
.open .cclInterior_textTitle {
  margin-left: -126px;
}
.reverse.open .cclInterior_textTitle {
  margin-left: 0;
  margin-right: -126px;
}
.reverse .cclInterior_textTitle {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -156px;
}
.cclInterior_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 13px;
  height: 13px;
  background: url(../../images/comfort/comfort-popup-close.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 4;
}
.reverse .cclInterior_close {
  right: auto;
  left: 10px;
}
.cclInterior_desc {
  position: relative;
  z-index: 2;
  padding: 30px 40px 20px 90px;
  color: #fff;
  font: 14px/18px Arial, sans-serif;
  text-align: left;
}
.reverse .cclInterior_desc {
  padding: 30px 90px 20px 40px;
}
.cclInterior_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #001952;
  opacity: 0;
  transition: opacity 0.3s;
}
.cclInterior_overlay.show {
  opacity: 0.5;
}
.ccl_dv {
  display: block;
  margin: 30px auto 0;
}
.cclCousine {
  padding: 0 104px;
}
.cclCousine_promo {
  text-align: center;
  color: #02458d;
  padding: 30px 0 5px;
  font: 16px/26px Arial, sans-serif;
}
.cclCousine_columns {
  font: 12px/20px Arial, sans-serif;
  color: #000;
}
.cclCousine_main {
  float: right;
  width: 510px;
}
.cclCousine_quote {
  position: relative;
  padding: 0 15px 15px 0;
  margin-top: 40px;
}
.cclCousine_quote:before, .cclCousine_quote:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  background: url(../images/sp.png) 0 -150px no-repeat;
}
.cclCousine_quote:before {
  left: -40px;
  top: -5px;
}
.cclCousine_quote:after {
  right: 0;
  bottom: 0;
  background-position: -50px -150px;
}
.cclCousine_chef {
  float: left;
  width: 172px;
  margin-right: 88px;
  text-align: center;
  font: bold 12px/22px Arial, sans-serif;
  color: #000;
}
.cclCousine_chefName {
  color: #02458d;
  font-size: 16px;
  margin-top: 10px;
}
.cclCousine_chef img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.cclTabs {
  font-size: 0;
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid #a1a1a1;
}
.cclTabs_item {
  display: inline-block;
  vertical-align: bottom;
  color: #4a4a4a;
  font: bold 16px/30px Arial, sans-serif;
  border: 1px solid #a1a1a1;
  border-radius: 3px 3px 0 0;
  text-decoration: none;
  padding: 4px 10px 3px;
  margin: 0 0 -1px 7px;
  background-image: linear-gradient(to top, #E9E9E9 0%, #E9E9E9 2%, #FFF 99%, #FFF 100%);
}
.cclTabs_item:first-child {
  margin-left: 0;
}
.cclTabs_item.current, .cclTabs_item:hover {
  border-bottom-color: #fff;
  background: #fff;
}
.cclTabs_item-text {
  padding-left: 30px;
  padding-right: 30px;
}
.cclForm {
  background: #e9f2f9 url(../images/econom/form.png) 86% 100% no-repeat;
  padding: 20px 0 20px 77px;
  margin-top: 30px;
  color: #4a4a4a;
}
.cclForm_label {
  display: inline-block;
  vertical-align: middle;
  font: bold 16px/18px Arial, sans-serif;
}
.cclForm_select {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-left: 15px;
}
.cclForm_select select {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.cclForm_list {
  margin: 0;
  padding: 0 35px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.cclForm_list li {
  position: relative;
  padding-left: 10px;
}
.cclForm_list li:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
}
.cclFormIcon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-image: url(../images/sp.png);
  background-repeat: no-repeat;
}
.cclFormIcon_1 {
  background-position: -200px 0;
}
.cclFormIcon_2 {
  background-position: -200px -40px;
}
.cclFormIcon_3 {
  background-position: -200px -80px;
}
.cclFormIcon_4 {
  background-position: -200px -120px;
}
.ccl_hints {
  margin-top: 20px;
  color: #02458d;
  font: italic 12px/14px Arial, sans-serif;
}
.ccl_hints p {
  margin: 0;
  padding: 0;
}
.cclCycle {
  height: 209px;
}
.cclCycle_wrapper {
  margin-top: 12px;
  position: relative;
}
.cclCycle_prev, .cclCycle_next {
  position: absolute;
  top: 50%;
  margin-top: -33px;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: url(../images/sp.png) 0 0 no-repeat;
}
.cclCycle_prev {
  left: -40px;
  background-position: 0 -250px;
}
.cclCycle_prev:hover {
  background-position: -100px -250px;
}
.cclCycle_next {
  right: -40px;
  background-position: -50px -250px;
}
.cclCycle_next:hover {
  right: -39px;
  background-position: -150px -250px;
}
.cclCycle_pager {
  text-align: center;
  padding-top: 12px;
}
.cclCycle_pager a {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  overflow: hidden;
  width: 12px;
  height: 12px;
  background-color: #FF8400;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%);
  border: 1px solid #DCDCDC;
  border-radius: 7px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(255, 255, 255, 0.7);
  margin-left: 5px;
}
.cclCycle_pager a:first-child {
  margin-left: 0;
}
.cclCycle_pager a.activeSlide {
  cursor: default;
  background-color: #033468;
  box-shadow: inset 0.7px 0.7px 2px rgba(0, 82, 156, 0.71);
}
.cclCycle a {
  position: absolute;
}
.cclCycle a:before, .cclCycle a:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s linear;
}
.cclCycle a:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 69, 141, 0.5);
  border-radius: 5px;
}
.cclCycle a:after {
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: url(../images/sp.png) -300px -200px no-repeat;
}
.cclCycle a:hover:before, .cclCycle a:hover:after {
  opacity: 1;
}
.cclCycle a img {
  margin-top: 0;
  border-radius: 5px;
}
.ccl_3d {
  position: absolute;
  left: 50%;
  top: 100px;
  width: 40px;
  height: 50px;
  margin-left: -20px;
  background: url(../images/sp.png) -350px -200px no-repeat;
}

.custom-combobox {
  position: relative;
  display: inline-block;
}

.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}

.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
.custom-combobox-input:focus {
  outline: none;
}
