@charset "UTF-8";
/* fonts */
@font-face {
  font-family: "flightcregular";
  src: url("../fonts/flight_cyrillic_-webfont.eot");
  src: url("../fonts/flight_cyrillic_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flight_cyrillic_-webfont.woff") format("woff"), url("../fonts/flight_cyrillic_-webfont.ttf") format("truetype"), url("../fonts/flight_cyrillic_-webfont.svg#flightcregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flightcbold";
  src: url("../fonts/flight_bold_cyrillic_-webfont.eot");
  src: url("../fonts/flight_bold_cyrillic_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/flight_bold_cyrillic_-webfont.woff") format("woff"), url("../fonts/flight_bold_cyrillic_-webfont.ttf") format("truetype"), url("../fonts/flight_bold_cyrillic_-webfont.svg#flightcbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* global */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1000px;
  background: #fff;
}

body {
  color: #000;
  font: 15px/18px "flightcregular", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a * {
  cursor: pointer;
}

a:focus {
  outline: none;
}

img {
  border: none;
  margin: 0;
}

p {
  margin: 10px 0 0;
}

strong {
  font-weight: normal;
  font-family: "flightcbold", sans-serif;
}

blockquote {
  margin: 0;
}

address {
  font-style: normal;
}

form {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.zfix,
.easyfix {
  overflow: hidden;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus:-moz-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

/* layout */
.bone {
  position: relative;
  min-height: 100%;
  width: 100%;
}
.bone.main {
  height: 100%;
  overflow: hidden;
}

.page-width {
  width: 980px;
  padding: 0 10px;
  margin: auto;
}
.page-header {
  margin: 0;
  max-width: 600px;
  margin: auto;
  font: 28px/30px "flightcbold", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.interview-preview .page-header {
  color: #fff;
  max-width: 1000px;
  padding: 65px 0;
}
.interview-preview .page-header:after {
  content: "";
  display: block;
  margin: 25px auto 0;
  width: 125px;
  height: 2px;
  background: #fff;
}
.page-content p {
  margin: 0;
}

/* buttons */
.btn {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  color: #fff;
  cursor: pointer;
  font: 12px/14px "flightcbold", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 16px;
  transition: box-shadow 0.25s;
}
.btn:focus {
  outline: none;
}
.btn:active {
  box-shadow: 0 0 10px #fff;
}
.btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

a.btn {
  height: auto;
  text-decoration: none;
  line-height: 30px;
  transition: all 0.25s;
}
a.btn:hover {
  transform: scale(1.045);
}

.btn-vote,
.btn-reset {
  display: block;
  margin: 25px auto 0;
  padding: 8px 10px;
  width: 150px;
  letter-spacing: 1px;
  text-align: center;
  font: 12px/14px "flightcbold", sans-serif;
  border: 2px solid #333;
  border-radius: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s;
}
.btn-vote:hover,
.btn-reset:hover {
  transform: scale(1.045);
}
.btn-vote:active,
.btn-reset:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-expand {
  display: block;
  margin: 25px auto 0;
  padding: 8px 10px;
  width: 150px;
  letter-spacing: 1px;
  text-align: center;
  font: 12px/14px "flightcbold", sans-serif;
  border: 2px solid #333;
  border-radius: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s;
}
.btn-expand:hover {
  transform: scale(1.045);
}
.btn-expand:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.open .btn-expand {
  width: 100%;
  padding: 15px 0;
  border-width: 2px 0 0;
  border-color: #dddad6;
  border-radius: 0;
  background: #e9e7e5;
}

.btn-reg {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font: 22px/30px "flightcbold", sans-serif;
  padding: 15px 40px;
  background-color: #D0383F;
  border: 1px solid #333;
  border-radius: 30px;
}

.btn-next,
.btn-prev {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  padding: 0 5px;
  min-width: 140px;
  border-radius: 16px;
  font: 12px/30px "flightcbold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #333;
}

.btn-next:after,
.btn-prev:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 7px;
  margin: 0 0 1px 5px;
  background: url(../images/bg/arrows.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.btn-prev:before {
  margin: 0 5px 1px 0;
  background-position: 0 -10px;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  padding: 20px 0 15px;
  z-index: 50;
}

.topnav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  max-height: 0;
  max-width: 0;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  list-style: none;
  font-size: 0;
  transition: opacity 0.25s ease, padding-top 0.25s ease;
}
.topnav li {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  margin-left: 47px;
}
.topnav a {
  color: #b9b8b8;
  text-decoration: none;
  transition: color 0.25s ease;
}
.topnav a:hover,
.topnav a.current {
  color: #fff;
}
.topnav a.current {
  cursor: default;
}
.fixed .topnav {
  padding-top: 0;
  max-width: 1200px;
  max-height: 100px;
  opacity: 1;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  transition: height 0.25s ease;
}
.logo-aeroflot {
  float: right;
  width: 211px;
  transition: width 0.25s ease;
}
.collapsed .logo-aeroflot, .fixed .logo-aeroflot {
  width: 106px;
}
.collapsed .logo, .fixed .logo {
  height: 24px;
}

/* footer */
.footer {
  padding: 20px 0;
  background: #000;
}

/* content */
.content {
  padding-top: 65px;
}

.promo {
  width: 100%;
  height: 497px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #fff;
  text-align: center;
}
.promo-tab, .promo-cell {
  width: 100%;
  height: 100%;
}
.promo-tab {
  display: table;
}
.promo-cell {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 160px;
}
.promo-text {
  position: relative;
  z-index: 2;
}
.promo-header {
  font: 58px/60px "flightcbold", sans-serif;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.promo-header:after {
  content: "";
  display: block;
  width: 127px;
  height: 2px;
  background: #fff;
  margin: 40px auto;
}
.promo-content {
  font: 22px/30px "Georgia", Times, "Times New Roman", serif;
  max-width: 740px;
  margin: auto;
  padding-bottom: 30px;
}
.promo-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
  z-index: 1;
}
.promo:hover .promo-img {
  transform: scale(1.025);
}

/* chair */
#chair_loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-left: -100px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  text-align: center;
}
#chair_loading i {
  display: block;
  width: 34px;
  height: 34px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 15px #000;
  background: #000 url(../images/loading24.dark.gif) 50% no-repeat;
  box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  text-indent: -9999px;
  overflow: hidden;
}
.ready #chair_loading {
  display: none;
}

.chair {
  position: relative;
  z-index: 2;
}
.chair-content {
  padding-top: 40px;
  text-align: center;
}
.chair-content.chairs-hsp {
  min-height: 765px;
}
.chair-text {
  max-width: 880px;
  margin: 25px auto 0;
  font-size: 15px;
  line-height: 17px;
}
.chair-holder {
  position: relative;
  width: 750px;
  margin: auto;
}
.chair-hint {
  display: none;
  position: absolute;
}
.ready .chair-hint {
  display: block;
}
.chair-hint-title {
  position: absolute;
  left: -65px;
  bottom: 30px;
  width: 130px;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.expanded .chair-hint-title .e-c {
  display: inline;
}
.expanded .chair-hint-title .e-e, .chair-hint-title .e-c {
  display: none;
}
.light .chair-hint-title .l-c {
  display: inline;
}
.light .chair-hint-title .l-e, .chair-hint-title .l-c {
  display: none;
}
.light .chair-hint-title {
  color: #fff;
  text-shadow: none;
}

#chair {
  display: block;
  margin: auto;
}

#canvas_bg {
  position: absolute;
  left: 0;
  top: 0;
}

.chair-bg {
  position: relative;
}

.chair-expander {
  width: 560px;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin: -50px auto 0;
  padding-bottom: 50px;
}
.ready .chair-expander {
  position: relative;
  left: auto;
  top: auto;
}
.light .chair-expander, .rotated .chair-expander {
  visibility: hidden;
}

.chair-condition {
  position: absolute;
  top: -53px;
  width: 90px;
  text-align: center;
}
.chair-condition i {
  display: block;
  height: 41px;
  margin: 0 auto 10px;
  background: url(../images/bg/chair-conditions.png) 0 0 no-repeat;
}
.chair-condition.cond-1 {
  left: -95px;
}
.chair-condition.cond-1 i {
  width: 40px;
}
.chair-condition.cond-2 {
  right: -95px;
}
.chair-condition.cond-2 i {
  width: 53px;
  background-position: -100px 0;
}

/* board */
.board {
  position: relative;
  background: #000;
  height: 760px;
  overflow: hidden;
}
.board-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: transform 0.4s ease;
  transform-origin: 50% 50% 0px;
  z-index: 1;
}
.no-touch .board:hover .board-img {
  transform: scale(1.03);
}
.board-text {
  position: relative;
  z-index: 2;
}
.board-header {
  padding-top: 40px;
  color: #fff;
}
.board-hint {
  position: absolute;
  transition: transform 0.4s ease;
  transform-origin: 50% 50% 0px;
}
.board-popup-text {
  position: absolute;
  left: 50%;
  text-align: center;
  bottom: 35px;
  width: 186px;
  overflow: hidden;
  max-height: 0;
  margin-left: -93px;
  font-size: 15px;
  line-height: 17px;
  opacity: 0;
  transition: opacity 0.25s ease;
  color: #fff;
}
.board .open .board-popup-text {
  max-height: 50px;
  opacity: 1;
}
.board-popup-close {
  position: absolute;
  top: 28px;
  right: -5px;
  width: 0;
  height: 0;
  background: url(../images/bg/board-popup-close.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  transition: opacity 0.25s ease;
  opacity: 0;
  z-index: 2;
}
.board .open .board-popup-close {
  width: 15px;
  height: 15px;
  opacity: 1;
}

.plus-circ {
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  background: #000;
  margin: -19px 0 0 -19px;
  border: 2px solid #fff;
  border-radius: 19px;
  box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2);
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.25s ease;
  z-index: 3;
}
.plus-circ:before, .plus-circ:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  transition: opacity 0.25s ease;
}
.open .plus-circ:before, .open .plus-circ:after {
  opacity: 0;
}
.plus-circ:before {
  width: 18px;
  height: 2px;
  margin: -1px 0 0 -9px;
}
.plus-circ:after {
  width: 2px;
  height: 18px;
  margin: -9px 0 0 -1px;
}
.no-touch .plus-circ:hover {
  box-shadow: 0 0 15px #fff;
}
.touch .plus-circ:active {
  box-shadow: 0 0 15px #fff;
}
.plus-circ img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 131px;
  transition: all 0.25s ease;
}
.board .open .plus-circ img {
  border-radius: 127px;
  opacity: 1;
}
.board .plus-circ {
  overflow: visible;
  text-indent: 0;
}
.board .open .plus-circ {
  width: 253px;
  height: 253px;
  background-color: #000;
  border: 4px solid #F2F1F0;
  border-radius: 131px;
  margin: -131px 0 0 -131px;
  box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2);
}
.board .open .plus-circ:hover {
  box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2);
}

#chair_rotate {
  background-image: url(../images/bg/rotate.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
#chair_rotate:before, #chair_rotate:after {
  display: none;
}

.no-borderradius .plus-circ {
  border: none;
  width: 46px;
  height: 46px;
  margin: -23px 0 0 -23px;
  box-shadow: none;
  background: url(../images/bg/plus-circle.png) 0 0 no-repeat;
}

.no-borderradius #chair_rotate .plus-circ {
  background-image: url(../images/bg/rotate-circle.png);
}

/* sleep */
.sleep {
  padding-top: 80px;
  background: #f2f1f0 url(../images/bg/sleep.jpg) 0 88px no-repeat;
}
.sleep-promo {
  width: 790px;
  margin: auto;
  padding-bottom: 55px;
  text-align: center;
}
.sleep-promo:before {
  content: "";
  display: block;
  margin: 30px auto;
  width: 125px;
  height: 2px;
  background: #000;
}
.sleep-img {
  display: block;
  margin: 30px auto 0;
}
.sleep-header {
  margin-top: 10px;
  font: 15px/17px "flightcbold", sans-serif;
  text-align: center;
}
.sleep-content {
  max-width: 665px;
  padding: 15px 0 0 60px;
}
.sleep-content p {
  margin: 0;
}
.sleep-hint {
  margin-top: 15px;
  font: 18px/29px "Georgia", Times, "Times New Roman", serif;
  max-width: 735px;
}
.sleep-hint p {
  margin: 0;
}
.sleep-open {
  display: block;
  position: relative;
  background: #e7e5e3;
  padding: 20px 0 15px;
  border-top: 2px solid #d9d6d2;
  font: 13px/15px "flightcbold", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.sleep-open:before, .sleep-open:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -2px;
  width: 0;
  height: 0;
}
.sleep-open:before {
  margin-left: -14px;
  border: 14px outset transparent;
  border-top-color: #d9d6d2;
  border-style: solid;
}
.sleep-open:after {
  margin-left: -12px;
  border: 12px outset transparent;
  border-top-color: #f2f1f0;
  border-style: solid;
}
.open .sleep-open:before, .open .sleep-open:after {
  display: none;
}
.open .sleep-open .o, .sleep-open .c {
  display: none;
}
.open .sleep-open .c {
  display: inline;
}

.expert {
  float: left;
  width: 220px;
  text-align: center;
  font-size: 15px;
  line-height: 17px;
}
.expert-hidden, .open .expert-promo {
  display: none;
}
.open .expert-hidden {
  display: block;
}
.expert-space {
  padding-top: 55px;
}
.expert-name {
  margin-top: 12px;
  font: 19px/22px "flightcbold", sans-serif;
}
.expert.side {
  float: right;
}
.inter .expert {
  transition: padding 0.25s;
  padding-bottom: 30px;
}
.space-inter .expert {
  padding-bottom: 0;
}
.space-inter .expert img {
  display: block;
}
.inter .open .expert {
  padding-bottom: 0;
}

.open-close {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url(../images/bg/open-close.png) 0 0 no-repeat;
  margin-right: 5px;
}
.open .open-close {
  background-position: 0 -30px;
}

/* vote */
.vote {
  color: #fff;
  background: #000 url(../images/bg/vote.jpg) 50% no-repeat;
  background-size: cover;
  min-height: 398px;
  padding: 50px 0;
}
.vote .page-width {
  position: relative;
}
.vote .page-header {
  color: #fff;
}
.vote-quest {
  font-size: 19px;
  line-height: 21px;
  padding-top: 20px;
  text-align: center;
  max-width: 540px;
  margin: auto;
}
.vote-answer {
  padding-top: 55px;
  max-width: 350px;
  margin: auto;
}
.vote-container {
  width: 385px;
  margin: 55px auto 0;
}
.vote-container.vote150 .vote-row {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.vote-holder {
  transition: all 0.3s ease;
}
.vote-result {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -400px;
  width: 800px;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: scale(0.6);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.vote-result-tab {
  margin-top: 30px;
  display: inline-table;
}
.vote-result-row {
  display: table-row;
}
.vote-result-cell {
  padding: 5px 0;
  display: table-cell;
}
.vote-result-lab {
  text-align: right;
}
.selected .vote-result-lab {
  color: #d0383f;
}
.vote-result-val {
  padding-left: 15px;
}
.vote-result-value {
  display: inline-block;
  vertical-align: middle;
  width: 147px;
  height: 8px;
  position: relative;
  overflow: hidden;
  background-color: #dddad6;
  border-radius: 4px;
}
.vote-result-value span {
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  background-color: #d0383f;
}
.voted .vote-holder {
  transform: scale(1.2);
  opacity: 0;
}
.voted .vote-result {
  max-height: 400px;
  transform: scale(1);
  opacity: 1;
}
.vote-row {
  padding-top: 15px;
}
.vote-chk {
  float: left;
  margin: 0 10px 0 0;
  width: 16px;
  height: 15px;
}
.vote-label {
  display: block;
  font-size: 15px;
  line-height: 17px;
  overflow: hidden;
}
.vote-submit {
  padding-top: 55px;
  text-align: center;
}

/* footer next page */
.next-step {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #000;
}
.next-step.comf {
  height: 148px;
  color: #fff;
  background: #000 url(../images/bg/next-step-comf.jpg) 50% no-repeat;
}
.next-step.comfort {
  height: 148px;
  color: #fff;
  background: #000 url(../images/bg/next-step-comfort.jpg) 50% no-repeat;
}
.next-step.vine {
  height: 149px;
  color: #fff;
  background: #000 url(../images/bg/next-step-vine.jpg) 50% no-repeat;
}
.next-step.space {
  height: 149px;
  color: #fff;
  background: #000 url(../images/bg/next-step-space.jpg) 50% no-repeat;
}
.next-step.style {
  height: 149px;
  color: #fff;
  background: #080808 url(../images/bg/next-step-style.jpg) 100% 50% no-repeat;
}
.next-step.haute {
  height: 149px;
  color: #fff;
  background: #080808 url(../images/bg/next-step-haute.jpg) 100% 50% no-repeat;
}
.next-step-text {
  font-size: 15px;
  line-height: 17px;
}
.next-step-header {
  display: inline-block;
  margin-top: 5px;
  padding-right: 18px;
  padding-top: 2px;
  background: url(../images/bg/next-step-header.png) 100% no-repeat;
  font: 28px/30px "flightcbold", sans-serif;
  text-transform: uppercase;
}
.next-step-tab, .next-step-cell {
  width: 100%;
  height: 100%;
}
.next-step-tab {
  display: table;
}
.next-step-cell {
  display: table-cell;
  vertical-align: middle;
}

/* buttons */
.social-footer {
  margin-top: 60px;
  padding: 20px 0 25px;
  width: 705px;
  border-top: 2px solid #dddad6;
}
.social-footer:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
}
.social-footer-side {
  float: right;
  margin-left: 60px;
}

/* versa */
.versa {
  position: relative;
  padding: 30px 35px 70px;
  max-width: 1210px;
  margin: auto;
}
.versa-label {
  position: absolute;
  width: 38px;
  height: 39px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -19px;
  background: url(../images/bg/versa.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 2;
}
.wine .versa-label {
  top: 80px;
  margin-top: 0;
}
.wine-vs .versa-label {
  top: 80px;
  margin-top: 0;
}
.versa-img {
  float: left;
  position: relative;
  width: 50%;
  padding-bottom: 85px;
}
.versa-img img {
  display: block;
  max-width: 100%;
}
.versa-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font: 27px/28px "Georgia", Times, "Times New Roman", serif;
  text-align: center;
}

.vote-rating {
  display: none;
  position: relative;
  background: #ccc;
  color: #fff;
  border-radius: 15px;
  height: 30px;
  width: 170px;
  margin: 27px auto 2px;
  overflow: hidden;
}
.vote-rating i {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #d0383f;
}
.vote-rating span {
  display: block;
  text-align: center;
  font: 12px/30px "flightcbold", sans-serif;
  position: relative;
  z-index: 2;
}
.versa-done .vote-rating {
  display: block;
}

.versa-done .btn-vote {
  display: none;
}

/* inter */
.inter {
  padding-top: 45px;
  background-color: #f4f3f2;
}
.inter .page-header:after {
  content: "";
  display: block;
  width: 125px;
  height: 2px;
  background: #000;
  margin: 30px auto 0;
}
.inter-quote {
  position: relative;
  margin-top: 20px;
  max-width: 590px;
  padding-bottom: 10px;
  font: 18px/29px "Georgia", Times, "Times New Roman", serif;
}
.inter-quote-header {
  font: 19px/22px "flightcbold", sans-serif;
  padding: 0 0 15px;
}
.inter-quote.top {
  margin-top: 80px;
}
.inter-quote.htop {
  margin-top: 60px;
}
.inter-quote:before, .inter-quote:after {
  content: "";
  width: 40px;
  position: absolute;
}
.inter-quote:before {
  left: -57px;
  top: 0;
  height: 33px;
  background: url(../images/bg/inter-quote-before.png) 0 0 no-repeat;
}
.inter-quote:after {
  right: -53px;
  bottom: 0;
  height: 32px;
  background: url(../images/bg/inter-quote-after.png) 0 0 no-repeat;
}
.inter-quote-img {
  position: absolute;
  right: -250px;
  top: 50%;
  margin-top: -45px;
}
.inter-quote-img img {
  display: block;
  margin: 0 auto;
}
.inter-quote-title {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100px;
  margin-left: -50px;
  margin-top: 5px;
  text-align: center;
  font: 15px/18px "flightcregular", sans-serif !important;
}
.inter-col.side .inter-quote-img {
  right: auto;
  left: -250px;
}
.inter-quote.md {
  max-width: 670px;
}
.inter-col {
  width: 690px;
  padding-left: 50px;
  float: left;
}
.inter-col-smaller {
  width: 615px;
}
.inter-col .inter-quote {
  max-width: 100%;
}
.inter-col.inter-col-yak {
  width: 585px;
}
.inter-col.side, .open-close-slide .inter-col.side, .inter-col-smaller.side {
  float: right;
  padding-left: 0;
}
.inter-col.space {
  padding-top: 120px;
}
.inter-text {
  position: relative;
  font-size: 15px;
  line-height: 18px;
}
.inter-text p {
  margin: 10px 0 0;
}
.inter-text ul {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
.inter-text ul li {
  margin-top: 5px;
}
.inter-text ul li:before {
  content: "—";
  display: inline-block;
  margin-right: 20px;
}
.inter-text.min {
  max-width: 670px;
}

.haute-secrets {
  padding-top: 40px;
  min-height: 310px;
  background: url(../images/bg/haute-secrets.jpg) 68px 60px no-repeat;
}

.secrets-header {
  margin: 15px 0 0;
  font: 22px/24px "flightcbold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.secrets-subheader {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  padding: 10px 0 20px;
}

.haute-secrets.recipe {
  padding-top: 0;
  background: url(../images/bg/recipe.jpg) 0 100% no-repeat;
}

.secret-recipe {
  padding-top: 30px;
}

.recipe-header {
  margin: 15px 0 0;
  font: 15px/18px "flightcbold", sans-serif;
}

.secret-col {
  float: left;
  width: 320px;
  margin-left: 35px;
}
.secret-col:first-child {
  margin-left: 0;
}
.secret-col-item {
  position: relative;
  margin-top: 30px;
  font-size: 15px;
  line-height: 18px;
}
.secret-col-num {
  position: absolute;
  width: 40px;
  left: -47px;
  top: 0;
  text-align: right;
  font: 19px/21px "flightcbold", sans-serif;
}
.secret-col-header {
  font: 19px/21px "flightcbold", sans-serif;
  text-align: center;
  padding: 10px 0;
}

.register {
  position: relative;
  height: 592px;
  padding-top: 50px;
  background: #000 url(../images/bg/register.jpg) 50% no-repeat;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}
.register .page-header {
  max-width: 1000px;
}
.register p a {
  color: #d0383f;
}
.register .page-header {
  padding-bottom: 20px;
}
.register p {
  margin: 0 0 20px;
}

.card-number {
  position: absolute;
  left: 50%;
  top: 256px;
  width: 424px;
  margin: 0 0 0 -212px;
  padding: 5px 0;
  border: none;
  background-color: #ccc;
  color: #666;
  border-radius: 31px;
  font: 44px/46px "flightcregular", sans-serif;
  text-align: center;
  transition: opacity 0.25s ease, transform 0.25s ease, left 0.25s 0.25s ease;
  z-index: 2;
}
.card-number:focus {
  outline: none;
}
.registered .card-number {
  opacity: 0;
  transform: scale(1.5);
  left: -9999px;
}

.card-form-inp {
  position: absolute;
  left: 50%;
  top: 192px;
  margin-left: -179px;
  width: 358px;
  height: 204px;
  padding: 30px 0 0;
  background: url(../images/bg/card-form.png) 0 0 no-repeat;
  text-align: center;
  transform: scale(0.8);
  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: 2;
}
.card-form-inp-lab {
  padding: 40px 0 10px;
  font: 19px/21px "flightcbold", sans-serif;
}
.card-form-inp-bg {
  margin: 0 auto 25px;
  width: 308px;
  background: url(../images/bg/card-form-field.png) 0 5px no-repeat;
}
.card-form-inp-bg input {
  margin: 0;
  padding: 0;
  letter-spacing: 0.08em;
  word-spacing: -0.21em;
  font: 44px/46px "flightcregular", sans-serif;
  width: 308px;
  border: none;
  background: none;
}
.card-form-inp-bg input:focus {
  outline: none;
}
.registered .card-form-inp {
  opacity: 0;
  transform: scale(1.25);
}

.card-form {
  width: 358px;
  height: 234px;
  margin: 0 auto 30px;
  background: url(../images/bg/card-form.png) 0 0 no-repeat;
  text-align: center;
  transform: scale(0.8);
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.card-form-header {
  font: 19px/21px "flightcbold", sans-serif;
  padding: 75px 0 15px;
}
.registered .card-form {
  transform: scale(1);
  opacity: 1;
}

.card-steps {
  text-align: center;
  padding: 15px 0 40px;
}

.card-step {
  display: inline-block;
  vertical-align: middle;
  padding: 0 14px;
}
.card-step-num {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px 0 0;
  width: 33px;
  height: 33px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 19px;
  font: 26px/33px "flightcregular", sans-serif;
}
.card-step p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

/* recipe */
@-webkit-keyframes clock {
  0% {
    transform: rotate(5deg);
  }
  33% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes clock {
  0% {
    transform: rotate(5deg);
  }
  33% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.recipe-promo {
  display: none;
  padding-top: 40px;
}
.recipe-content {
  padding-top: 15px;
}
.recipe-table {
  margin-top: 25px;
  padding: 35px 0;
  min-height: 564px;
  background: #ece7e0 url(../images/bg/table.jpg) 0 0 no-repeat;
  background-size: cover;
}
.recipe-table .page-width {
  position: relative;
}
.recipe-clock {
  position: absolute;
  right: 0;
  top: 0;
  width: 58px;
  height: 70px;
  padding: 7px 5px 0;
  cursor: default;
}
.recipe-clock-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg/recipe-clock.png) 0 0 no-repeat;
  z-index: 1;
}
.recipe-clock-title {
  text-align: center;
  position: relative;
  z-index: 2;
  padding-top: 30px;
  font: 13px/15px "flightcregular", sans-serif;
}
.recipe-clock-title-tab, .recipe-clock-title-cell {
  width: 100%;
  height: 100%;
}
.recipe-clock-title-tab {
  display: table;
}
.recipe-clock-title-cell {
  display: table-cell;
  vertical-align: middle;
}
.recipe-clock:hover .recipe-clock-icon {
  -webkit-animation: clock 0.08s linear 3;
  animation: clock 0.08s linear 3;
}
.recipe-slide {
  max-height: 2000px;
  width: 100%;
  transition: max-height 0.5s linear;
  overflow: hidden;
}
.recipe-close .recipe-slide {
  max-height: 0;
}
.recipe-expand {
  margin-bottom: 50px;
}
.recipe-content .recipe-expand {
  display: none;
}
.recipe-close .recipe-content .recipe-expand {
  display: block;
}
.recipe .secrets-header {
  font: 22px/24px "flightcbold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}
.recipe-close .secrets-header {
  text-transform: none;
  background: none;
  margin-bottom: -10px;
  font: 15px/18px "flightcregular", sans-serif;
}
.recipe-popup {
  position: absolute;
  cursor: default;
  right: 80px;
  top: 0;
  color: #000;
  font: 14px/16px "flightcregular", sans-serif;
  width: 216px;
  max-height: 0;
  overflow: hidden;
  font: 15px/20px "flightcregular", sans-serif;
  background-color: #F4F3F2;
  border-radius: 5px;
  transition: opacity 0.25s 0.25s ease, top 0.25s 0.25s ease;
  opacity: 0;
}
.recipe-clock:hover .recipe-popup {
  opacity: 1;
  top: 8px;
  border: 1px solid #DDDAD6;
  padding: 15px 15px 10px;
  overflow: visible;
  max-height: 800px;
}
.recipe-popup table,
.recipe-popup td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
.recipe-popup table {
  width: 100%;
}
.recipe-popup td {
  padding: 2px 0;
  text-align: right;
}
.recipe-popup tr.current td {
  color: #d4333b;
}
.recipe-popup tr:last-child td {
  padding-bottom: 10px;
}
.recipe-popup tfoot td {
  padding-top: 10px;
  border-top: 1px solid #dddad6;
  font-family: "flightcbold", sans-serif;
}
.recipe-popup td:first-child {
  text-align: left;
}
.recipe-popup tfoot td:first-child {
  font-family: "flightcregular", sans-serif;
}
.recipe-popup:before, .recipe-popup:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.recipe-popup:before {
  top: 25px;
  right: -20px;
  border: 10px outset transparent;
  border-left-color: #DDDAD6;
  border-left-style: solid;
}
.recipe-popup:after {
  top: 26.5px;
  right: -16px;
  border: 8px outset transparent;
  border-left-color: #F4F3F2;
  border-left-style: solid;
}
.recipe-heading {
  max-height: 0;
  transition: max-height 0.25s linear, padding 0.25s linear;
  overflow: hidden;
  font: 22px/24px "flightcbold", sans-serif;
  max-width: 520px;
  margin: 50px auto 0;
  text-align: center;
  text-transform: uppercase;
}
.recipe-close .recipe-heading {
  background: url(../images/bg/recipe-header.png) 50% 0 no-repeat;
  max-height: 300px;
  padding: 60px 0 0;
}
.recipe-hints {
  background: #f4f3f2;
  padding: 20px 0;
}
.recipe-hints-user {
  float: left;
  margin-left: 60px;
}
.recipe-hint-popup {
  float: right;
  margin-top: 20px;
  width: 570px;
  background: #fff;
  padding: 25px 25px 25px 50px;
  position: relative;
  border-radius: 5px;
}
.recipe-hint-popup:before, .recipe-hint-popup:after {
  content: "";
  position: absolute;
}
.recipe-hint-popup:before {
  top: 5px;
  left: -50px;
  width: 0;
  height: 0;
  border: 25px outset transparent;
  border-right-style: solid;
  border-right-color: #fff;
}
.recipe-hint-popup:after {
  width: 25px;
  top: 5px;
  left: -25px;
  height: 25px;
  background: #f4f3f2;
}
.recipe-hint-prev, .recipe-hint-next {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: -15px;
  text-indent: -9999px;
  overflow: hidden;
  background: #000 url(../images/bg/recipe-hint-btns.png) no-repeat;
  border: 4px solid #f4f3f2;
  border-radius: 15px;
}
.recipe-hint-prev.disabled, .recipe-hint-next.disabled {
  background-color: #d0cbc2;
  cursor: default;
}
.recipe-hint-prev {
  right: 94px;
  background-position: 0 0;
}
.recipe-hint-next {
  right: 62px;
  background-position: -33px 0;
}
.recipe-hint-num {
  float: left;
  margin: 0 5px 0 0;
  font: 19px/21px "flightcbold", sans-serif;
}

.btn-recipe {
  position: absolute;
  right: 120px;
  width: 400px;
  text-align: center;
  bottom: 0;
}
.btn-recipe a {
  background: #fff;
  display: none;
}
.btn-recipe a.show {
  display: inline-block;
}

.zut {
  float: left;
  position: relative;
  z-index: 3;
  width: 314px;
}
.zut-top {
  background: url(../images/bg/zut-top.png) 0 0 no-repeat;
  padding: 40px 0 0;
}
.zut-btm {
  background: url(../images/bg/zut-btm.png) 0 100% no-repeat;
  padding: 0 0 30px;
}
.zut-bg {
  background: #f4f3f2;
  border: 1px solid #dddad6;
  border-width: 0 1px;
  padding: 0 25px 45px;
}
.zut-header {
  font: 19px/21px "flightcbold", sans-serif;
  text-align: center;
}
.zut-subheader {
  padding: 0 0 30px;
  text-align: center;
}
.zut-row {
  position: relative;
  border-bottom: 1px solid #dddad6;
  padding: 18px 0 2px 30px;
  transition: color 0.25s ease;
}
.zut-row span {
  float: right;
}
.zut-row.disabled {
  color: #999;
  padding-left: 0;
}
.zut-icon {
  position: absolute;
  left: -30px;
  bottom: 3px;
  width: 60px;
  text-align: center;
}
.zut-icon img {
  display: block;
  margin: 0 auto;
}
.disabled .zut-icon {
  display: none;
}

/* premium */
.premium {
  display: block;
}
.premium-header {
  margin: 85px 0 0;
  font: 19px/21px "flightcbold", sans-serif;
  text-align: center;
}
.premium-subheader {
  padding-top: 95px;
}

.bonus-btm-spc1 {
  padding-bottom: 12px;
}

.bonus-header {
  max-width: 800px;
}

.bonus-feats {
  padding-bottom: 100px;
}

.bonus-features {
  padding-top: 50px;
}

.bonus-feature {
  float: left;
  width: 25%;
}
.bonus-feature-icon {
  position: relative;
  width: 159px;
}
.bonus-feature-icon img {
  display: block;
}
.bonus-feature-icon .plus-circ {
  left: auto;
  right: -20px;
  top: 50%;
  z-index: 2;
}
.bonus-feature-popup {
  position: absolute;
  left: -50px;
  top: -30px;
  width: 200px;
  text-align: center;
  background-color: #f4f3f2;
  border-radius: 5px;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.25s, top 0.25s;
  overflow: hidden;
  z-index: 3;
}
.bonus-feature-popup:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
  margin: 0 auto 20px;
}
.open .bonus-feature-popup {
  padding: 40px 25px 15px;
  top: 0;
  border: 1px solid #DDDAD6;
  opacity: 1;
  max-height: 800px;
  min-height: 108px;
}
.premium-feats .bonus-feature-popup {
  font-size: 13px;
  line-height: 16px;
}
.premium-feats .bonus-feature-popup:before {
  margin-bottom: 35px;
}
.space-stats-list .bonus-feature-popup {
  font-size: 13px;
  line-height: 16px;
}
.space-stats-list .bonus-feature-popup .chair-stats-popup-title {
  font-size: 15px;
  line-height: 17px;
}
.bonus-feature-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: url(../images/bg/travel-popup-close.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.bonus-feature-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bonus-feature-tab, .bonus-feature-cell {
  width: 100%;
  height: 100%;
}
.bonus-feature-tab {
  display: table;
}
.bonus-feature-cell {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font: 21px/20px "Georgia", Times, "Times New Roman", serif;
}
.bonus-feature-cell span {
  display: block;
  font-size: 70px;
  letter-spacing: -3px;
  line-height: 70px;
}
.smaller .bonus-feature-cell span {
  font-size: 55px;
  line-height: 55px;
}
.pressed .bonus-feature-cell span {
  line-height: 50px;
  letter-spacing: 0;
}
.bonus-feature-cell span span {
  display: inline;
  font-size: 21px;
}

.chair-stats-popup-title {
  font-family: "flightcbold", sans-serif;
}

/* wishes */
.wishes {
  background: #000 url(../images/bg/wishes.jpg) 50% 0 no-repeat;
  color: #fff;
  min-height: 500px;
}
.wishes-subheader {
  padding-top: 10px;
}
.wishes-footer {
  padding-top: 95px;
  width: 440px;
  margin: auto;
}
.wishes-footer .btn {
  float: left;
}
.wishes-footer .btn.side {
  float: right;
}

.wish {
  width: 100%;
  padding-top: 50px;
  font: 21px/31px "Georgia", Times, "Times New Roman", serif;
  max-width: 555px;
  margin: auto;
  display: none;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.wish:before {
  content: "";
  display: block;
  width: 128px;
  margin: 0 auto 55px;
  height: 2px;
  background: #fff;
}

.wish.current {
  display: block;
}

/* travel */
.travel {
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.travel.loading {
  background: #fff url(../images/loading48.gif) 50% no-repeat;
}
.travel-content {
  padding-top: 40px;
  padding-bottom: 90px;
  text-align: center;
}
.travel-footer {
  padding: 0 0 90px;
  text-align: center;
}
.travel-subheader {
  padding-top: 40px;
  font: 19px/21px "flightcbold", sans-serif;
}
.travel-subheader-desc {
  padding-top: 20px;
}
.travel-list {
  padding-top: 95px;
  min-height: 192px;
  font-size: 0;
  transition: all 0.25s;
}
.travel-list.move-out {
  opacity: 0;
  transform: scale(1.2);
}
.travel-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 25%;
}
.travel-item.active {
  z-index: 2;
}
.last-step .travel-item {
  width: 43%;
}
.travel-img {
  position: relative;
  margin: auto;
  width: 159px;
  border-radius: 80px;
}
.travel-img img {
  display: block;
  border-radius: 80px;
}
.disabled .travel-img img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.travel-img i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 34px;
  height: 34px;
  border: 2px solid #fff;
  border-radius: 19px;
  box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2);
  background: #000 url(../images/bg/test-check.png) 50% no-repeat;
  opacity: 0;
  transition: opacity 0.05s;
  overflow: hidden;
}
.checked .travel-img i {
  opacity: 1;
}
.travel-img b {
  opacity: 1;
  position: absolute;
}
.travel-img b:before, .travel-img b:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.travel-img b:before {
  width: 18px;
  height: 2px;
  margin: -1px 0 0 -9px;
}
.travel-img b:after {
  width: 2px;
  height: 18px;
  margin: -9px 0 0 -1px;
}
.no-touch .travel-img b:hover {
  box-shadow: 0 0 15px #fff;
}
.touch .travel-img b:active {
  box-shadow: 0 0 15px #fff;
}
.done .travel-img b {
  opacity: 1;
  width: 34px;
  height: 34px;
  background: #000;
  bottom: 50%;
  right: 0;
  margin: 0 -19px -19px 0;
  border: 2px solid #fff;
  border-radius: 19px;
  box-shadow: 0 0 4.8px 0.3px rgba(255, 255, 255, 0.2);
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.25s ease;
  z-index: 2;
}
.done .travel-img b:before, .done .travel-img b:after {
  opacity: 1;
}
.travel.invalid .btn-next {
  opacity: 0.3;
  cursor: default;
}
.travel-label {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  padding-top: 15px;
}
.travel .btn-reset, .travel.done .btn-next {
  display: none;
}
.travel.done .btn-reset {
  display: block;
}
.travel-selected-title {
  font-family: "flightcbold", sans-serif;
}
.travel-popup {
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  margin-left: -228px;
  background-color: #F4F3F2;
  border: 0 solid transparent;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.25s ease, top 0.25s ease;
}
.active .travel-popup {
  opacity: 1;
  top: 30px;
  width: 396px;
  padding: 45px 25px 25px 35px;
  max-height: 1000px;
  border-color: #DDDAD6;
  z-index: 2;
}
.travel-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: url(../images/bg/travel-popup-close.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.travel-desc-header {
  color: #cf383f;
  font: 15px/20px "flightcbold", sans-serif;
  padding: 0 0 30px;
  text-align: center;
}
.travel-desc-header:after {
  content: "";
  display: block;
  margin: 25px auto 0;
  width: 50px;
  height: 2px;
  background: #000;
}
.travel-desc-content {
  font-size: 15px;
  text-align: left;
}
.travel-desc-content dl {
  margin: 0;
  padding: 0;
}
.travel-desc-content dt {
  font-family: "flightcbold", sans-serif;
  margin: 0;
  padding: 0;
}
.travel-desc-content dd {
  margin: 0;
  padding: 0 0 5px;
}
.travel-desc-content dd p {
  margin: 0;
}
.travel-desc-footer {
  padding-top: 30px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

/* wine */
.wine {
  border-top: 1px solid #dddad6;
  box-shadow: inset 0 1px 0 #fff;
}
.wine .page-header {
  max-width: 760px;
}
.wine-guide {
  padding: 40px 0 70px;
  background: #fff url(../images/bg/wine-guide.jpg) 50% 100% no-repeat;
}
.wine-guide .page-header {
  max-width: 1000px;
  padding-bottom: 85px;
}
.wine-guide .page-header:after {
  content: "";
  margin: 30px auto 0;
  display: block;
  width: 128px;
  height: 2px;
  background: #000;
}
.wine-carousel {
  position: relative;
  width: 1000px;
  margin: auto;
  padding-bottom: 70px;
}
.wine-slicer {
  width: 1020px;
  margin: 0 -10px;
  position: relative;
}
.wine-item {
  position: relative;
  float: left;
  width: 170px;
}
.wine-item .plus-circ {
  left: auto;
  right: 25px;
  top: 275px;
  z-index: 1;
}
.wine-item.open {
  z-index: 2;
}
.wine-item a {
  display: block;
  text-decoration: none;
}
.wine-item-title {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  padding-top: 10px;
}
.wine-item-popup {
  transition: all 0.25s;
  position: absolute;
  left: 50%;
  top: 60px;
  width: 420px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: center;
  line-height: 16px;
  padding: 0 10px;
  margin-left: -220px;
  background-color: #f4f3f2;
  border-radius: 5px;
  z-index: 3;
}
.wine-item-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: url(../images/bg/board-popup-close.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.wine-carousel .wine-item-popup-close {
  background: url(../images/bg/travel-popup-close.png) 0 0 no-repeat;
}
.wine-item-popup-title {
  padding: 20px 0 10px;
  font: 15px/17px "flightcbold", sans-serif;
}
.wine-item-popup-title:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
  margin: 15px auto 0;
}
.open .wine-item-popup {
  top: 80px;
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 25px;
  border: 1px solid #DDDAD6;
  max-height: 800px;
}
.wine-item img {
  display: block;
  margin: 0 auto;
}

/* wine contest */
.wine-vs {
  padding-top: 40px;
}
.wine-vs .page-header {
  max-width: 1000px;
}
.wine-vs-subheader {
  text-align: center;
  padding-top: 10px;
}
.wine-vs-holder {
  position: relative;
  padding-top: 30px;
}
.wine-vs-holder img {
  display: block;
  margin: 0 auto;
}
.wine-vs-name {
  font: 27px/28px "Georgia", Times, "Times New Roman", serif;
  padding-bottom: 20px;
}
.wine-vs-name:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
  margin: 15px auto 0;
}
.wine-vs-title {
  position: absolute;
  bottom: 100px;
  width: 330px;
  text-align: center;
}
.wine-vs-title-text {
  min-height: 200px;
}
.wine-vs-title.first {
  left: 0;
}
.wine-vs-title.second {
  right: 0;
}

.chair-space {
  background: #fff url(../images/bg/chair-space.jpg) 50% 100% no-repeat;
  min-height: 805px;
}
.chair-space-info {
  padding: 60px 0;
  background: #f2f1f0;
}
.chair-space-subheader {
  padding: 15px 0 45px;
  line-height: 17px;
  font-size: 15px;
  max-width: 810px;
  margin: auto;
  text-align: center;
}

.chair-info-img {
  float: right;
  margin-left: 15px;
}

.chair-info-desc {
  font: 18px/29px "Georgia", Times, "Times New Roman", serif;
  padding-top: 50px;
}

.chair-stats {
  background: #e5e3e1;
  padding-bottom: 75px;
}
.chair-stats-header {
  padding: 50px 0 60px;
  text-align: center;
  font: 19px/22px "flightcbold", sans-serif;
}
.chair-stats-item {
  float: left;
  width: 25%;
}
.chair-stats-item .plus-circ {
  left: auto;
  right: -22px;
  top: -18px;
  top: 50%;
}
.chair-stats-img {
  position: relative;
  width: 159px;
  text-align: center;
}
.chair-stats-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.chair-stats-tab, .chair-stats-cell {
  width: 100%;
  height: 100%;
}
.chair-stats-tab {
  display: table;
}
.chair-stats-cell {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font: 21px/20px "Georgia", Times, "Times New Roman", serif;
}
.chair-stats-cell span {
  display: block;
  font-size: 70px;
  letter-spacing: -3px;
  line-height: 70px;
}
.smaller .chair-stats-cell span {
  font-size: 55px;
  line-height: 55px;
}
.pressed .chair-stats-cell span {
  line-height: 50px;
  letter-spacing: 0;
}
.chair-stats-cell span sup {
  font-size: 21px;
}
.chair-stats-cell span span {
  display: inline;
  font-size: 21px;
}

.interview-preview {
  height: 292px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  text-align: center;
}

.main {
  height: 100%;
  background: #000 url(../images/bg/main.jpg) 50% no-repeat;
  color: #fff;
}
.main-header {
  font: 58px/60px "flightcbold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.main-tab, .main-cell {
  width: 100%;
  height: 100%;
}
.main-tab {
  display: table;
}
.main-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main-content {
  padding: 100px 0;
}
.main .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.main-select {
  font-size: 18px;
  line-height: 20px;
  padding-top: 75px;
  text-transform: uppercase;
}
.main-menu {
  margin-top: 15px;
  background: #000;
}
.promo .main-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: -161px;
  z-index: 2;
}
.main-menu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 980px;
  transition: width 0.25s ease, padding-right 0.25s ease;
  display: table;
}
.main-menu ul li {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  line-height: 20px;
  transition: all 0.25s ease;
  color: #fff;
  text-transform: uppercase;
}
.main-menu ul li a {
  position: relative;
  color: #fff;
  display: block;
  padding: 20px 0 25px;
  text-decoration: none;
}
.collapsed .main-menu ul, .fixed .main-menu ul {
  width: 757px;
  padding-right: 23px;
}
.collapsed .main-menu ul li, .fixed .main-menu ul li {
  font-size: 13px;
  line-height: 15px;
}
.fixed .main-menu ul {
  opacity: 0;
}
.main-menu i {
  display: block;
  height: 86px;
  margin: 0 auto 15px;
  transition: opacity 0.25s;
  background: url(../images/bg/menu.png) 0 0 no-repeat;
}
.main-menu i.menu-1 {
  width: 84px;
  background-position: 0 0;
}
.main-menu i.menu-2 {
  width: 97px;
  background-position: -167px 0;
}
.main-menu i.menu-3 {
  width: 91px;
  background-position: -328px 0;
}
.main-menu i.menu-4 {
  width: 87px;
  background-position: -523px 0;
}
.main-menu i.menu-5 {
  width: 86px;
  background-position: -682px 0;
}
.main-menu i.menu-6 {
  width: 64px;
  background-position: -849px 0;
}
.collapsed .main-menu i, .fixed .main-menu i {
  opacity: 0;
}
.main-text {
  padding-top: 55px;
  font: 19px/25px "Georgia", Times, "Times New Roman", serif;
}

/* entertainment */
.ent {
  position: relative;
  padding-top: 40px;
  height: 588px;
  color: #fff;
  text-align: center;
  background: #000 url(../images/bg/ent.jpg) no-repeat 50%;
}
.ent .page-header {
  padding: 0 0 20px;
  color: #fff;
  max-width: 1000px;
}
.ent-screen {
  position: absolute;
  left: 50%;
  top: 176px;
  margin-left: -75px;
  width: 163px;
  height: 280px;
}
.ent-screen-over {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(16, 17, 34, 0.6);
  background-repeat: no-repeat;
  background-position: 50% 10px;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.25s 0.25s ease, transform 0.25s 0.25s ease;
  transform: scale(0.8);
  text-indent: 0;
}
.open .ent-screen-over {
  height: 100%;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  transform: scale(1);
}
.ent-screen-tab, .ent-screen-cell {
  width: 100%;
  height: 100%;
}
.ent-screen-tab {
  display: table;
}
.ent-screen-cell {
  display: table-cell;
  vertical-align: middle;
}
.ent-screen-hint {
  padding: 0 10px;
}
.ent-screen-item {
  margin: 8px 0 0;
}
.ent-screen-item.android .ent-screen-opener, .ent-screen-item.android .ent-screen-over {
  background-image: url(../images/bg/android.png);
}
.ent-screen-item.lamp .ent-screen-opener, .ent-screen-item.lamp .ent-screen-over {
  background-image: url(../images/bg/lamp.png);
}
.ent-screen-item.man .ent-screen-opener, .ent-screen-item.man .ent-screen-over {
  background-image: url(../images/bg/man.png);
}
.ent-screen-item.apple .ent-screen-opener, .ent-screen-item.apple .ent-screen-over {
  background-image: url(../images/bg/apple.png);
}
.ent-screen-item:first-child {
  margin-top: 0;
}
.ent-screen-opener {
  display: block;
  width: 100%;
  height: 64px;
  background-color: rgba(16, 17, 34, 0.6);
  background-repeat: no-repeat;
  background-position: 50%;
  text-indent: -9999px;
  overflow: hidden;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.open .ent-screen-opener {
  transform: scale(1.25);
}
.open-all .ent-screen-opener {
  opacity: 0;
}

.reviews {
  background: #080808 url(../images/bg/reviews.jpg);
  background-size: cover;
  padding: 65px 0 120px;
}
.reviews .page-header {
  color: #fff;
  max-width: 1000px;
}
.reviews .page-header:after {
  content: "";
  width: 130px;
  height: 2px;
  background: #fff;
  margin: 30px auto 0;
  display: block;
}
.reviews-list {
  position: relative;
  padding-top: 80px;
}
.reviews-item {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
}
.reviews-item.open {
  z-index: 2;
}
.reviews-img {
  position: relative;
  width: 159px;
  margin: auto;
}
.reviews-name {
  padding: 10px 0 2px;
  font: 19px/21px "flightcbold", sans-serif;
}
.reviews .plus-circ {
  left: auto;
  right: -18px;
  margin-top: -18px;
  top: 50%;
  z-index: 1;
}
.reviews-quote {
  display: inline-block;
  vertical-align: middle;
  width: 525px;
  position: relative;
}
.reviews-quote:before, .reviews-quote:after {
  content: "";
  width: 40px;
  position: absolute;
}
.reviews-quote:before {
  left: -57px;
  top: -10px;
  height: 33px;
  background: url(../images/bg/inter-quote-before.png) 0 0 no-repeat;
}
.reviews-quote:after {
  right: -53px;
  bottom: -20px;
  height: 32px;
  background: url(../images/bg/inter-quote-after.png) 0 0 no-repeat;
}
.reviews-popup {
  position: absolute;
  left: 0;
  top: 50px;
  width: 980px;
  background-color: #F4F3F2;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  color: #000;
  transition: opacity 0.25s ease, top 0.25s ease;
  text-align: left;
  opacity: 0;
  z-index: 2;
}
.open .reviews-popup {
  opacity: 1;
  width: 935px;
  top: 75px;
  padding: 25px 0 35px 45px;
  border: 1px solid #DDDAD6;
  max-height: 500px;
}
.reviews-popup .expert {
  float: none;
  width: 240px;
  margin-right: 55px;
  display: inline-block;
  vertical-align: middle;
}
.reviews-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: url(../images/bg/travel-popup-close.png) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.rate-movie {
  padding: 60px 0 90px;
}
.rate-movie .page-header {
  max-width: 1000px;
  padding-bottom: 90px;
}
.rate-movie .page-header:after {
  content: "";
  width: 130px;
  height: 2px;
  background: #000;
  margin: 30px auto 0;
  display: block;
}

.rate-movie-item {
  float: left;
  width: 25%;
  text-align: center;
}
.rate-movie-item img {
  display: block;
  margin: 0 auto;
}
.rate-movie-item-title {
  font: 18px/23px "Georgia", Times, "Times New Roman", serif;
  min-height: 46px;
  padding-bottom: 10px;
}

.sky .page-header:after {
  display: none;
}

.sky-subheader {
  text-align: center;
  padding: 15px 0 0;
}

.sky-space {
  padding-left: 80px;
}

/* custom inputs */
.customizedElements,
.customizedElement {
  position: absolute;
  left: -9999px;
}

.customRadio, .customRadioChecked {
  float: left;
  margin-right: 15px;
  width: 19px;
  height: 19px;
  background: url(../images/bg/radio.png) no-repeat;
  overflow: hidden;
}
.customRadioChecked {
  background-position: 0 -30px;
}

/* checkboxes */
.customCheckbox, .customCheckboxChecked {
  float: left;
  width: 19px;
  height: 19px;
  margin-right: 15px;
  overflow: hidden;
  background: url(../images/bg/checkbox.png) no-repeat;
}
.customCheckboxChecked {
  background-position: 0 -30px;
}

#space_left,
#space_right {
  position: absolute;
  top: 200px;
  left: 50%;
  transition: margin-left 0.25s linear;
}

/* UI slider */
.slider-chair-holder {
  position: absolute;
  left: 50%;
  bottom: 75px;
  width: 500px;
  margin-left: -250px;
}
.slider-chair-title {
  position: absolute;
  left: 50%;
  margin-left: -175px;
  bottom: 110px;
  width: 350px;
  font: 18px/25px "Georgia", Times, "Times New Roman", serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.slider-chair-title.show {
  opacity: 1;
}
.slider-chair-val {
  position: absolute;
  left: 50%;
  margin-left: -175px;
  bottom: 52px;
  width: 350px;
  font: 15px/17px "flightcregular", sans-serif;
  text-align: center;
}

.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  width: 22px;
  height: 22px;
  background: #000;
  border-radius: 14px;
  border: 2px solid #fff;
}
.ui-slider-handle:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
}
.ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
}

.slider-half {
  position: absolute;
  top: 0;
}
.slider-half-1 {
  left: 0;
}
.slider-half-2 {
  right: 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

#slider_chair {
  height: 17px;
  position: relative;
}

.ui-slider-horizontal {
  background: #dddad6;
  height: 5px;
  border: 6px solid #f4f3f2;
  border-radius: 9px;
}
.slider-half-1 .ui-slider-horizontal {
  border-radius: 9px 0 0 9px;
  border-right-width: 0;
}
.slider-half-2 .ui-slider-horizontal {
  border-radius: 0 9px 9px 0;
  border-left-width: 0;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -11px;
  margin-left: -13px;
}

.ui-slider-horizontal .ui-slider-range {
  top: -6px;
  height: 17px;
  background: #D43038;
  opacity: 0.85;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ivanova {
  background: #f4f3f2 url(../images/tmp/52.jpg) 0 100% no-repeat;
}
.ivanova .page-width {
  min-height: 420px;
}

.ent-features {
  position: relative;
  height: 0;
}

.ent-feature {
  position: absolute;
  top: 160px;
  color: #fff;
  font: 15px/17px "flightcregular", sans-serif;
  text-align: center;
  width: 190px;
  margin-left: -95px;
}
.ent-feature img {
  display: block;
  margin: 0 auto 5px;
}

.ent-feature.ft1 {
  left: 100px;
}

.ent-feature.ft2 {
  left: 700px;
}

.ent-feature.ft3 {
  left: 820px;
}

.ent-feature.ft4 {
  left: 940px;
}
