
.menu-main {
    background: none repeat scroll 0 0 #333;
    font-family: ALSStory,Roboto,sans-serif;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.menu-main__top {
    background: none repeat scroll 0 0 #333;
    height: 36px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.menu-main__item {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 13px;
    padding: 12px 9px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
.menu-main__item_logo {
    cursor: pointer;
    padding: 8px 3px 9px 16px;
}
.menu-main__item_live {
    color: #00d19f;
    cursor: pointer;
    font-size: 9px;
    line-height: 11px;
    margin-left: -11px;
    margin-right: -4px;
    padding-top: 13px;
}
.menu-main__item_live span {
    border: 1px solid #00d19f;
    padding: 3px 5px 3px 4px;
}
.menu-main__item_live_active span {
    background: none repeat scroll 0 0 #00d19f;
    border-color: #00d19f;
    color: #333;
}
.menu-main__item_cnews__dot {
    font-size: 18px;
    line-height: 0;
    padding: 0 1px;
    vertical-align: -2px;
}
.menu-main__item_special {
    background-color: #006dd9;
    margin-left: 9px;
    max-height: 36px;
    max-width: 220px;
    overflow: hidden;
    padding-left: 21px;
    padding-right: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-main__item_news-feed-handler {
    background-color: #333;
    border-right: 1px solid #5c5c5c;
    cursor: pointer;
    display: none;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    width: 45px;
}
.menu-main__item_news-feed-handler span {
    border-bottom: 1px solid #fff;
    float: left;
    height: 1px;
    margin: 5px 0 0;
    width: 100%;
}
.menu-main__item_news-feed-handler span:first-child {
    margin-top: 0;
}
.menu-main__item_news-feed-handler.opened {
    background-color: #00d19f;
    border-color: #00d19f;
}
.menu-main__item_news-feed-handler.opened span {
    border-color: #333;
}
.menu-main__item_border {
    border-right: 1px solid #5c5c5c;
    margin-right: 8px;
    padding-right: 19px;
}
.menu-main__item_border.menu-main__item_logo {
    padding-right: 14px;
}
.menu-main__item_dropdown {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.menu-main__item:hover, .menu-main__item:hover * {
    color: #00d19f;
}
.menu-main__item_news-feed-handler:hover span {
    border-color: #00d19f;
}
.menu-main__item_news-feed-handler.opened:hover span {
    border-color: #333;
}
.menu-main__item_news-feed-handler:active {
    background-color: #00d19f;
    border-color: #00d19f;
}
.menu-main__item_news-feed-handler:active span {
    border-color: #333;
}
.menu-main__item_live:hover span {
    border-color: #ffffff;
    color: #ffffff;
}
.menu-main__item_live_active:hover span {
    background: none repeat scroll 0 0 #00d19f;
    border-color: #00d19f;
    color: #333;
}
.menu-main__item_live:active span {
    background: none repeat scroll 0 0 #00d19f;
    border-color: #00d19f;
    color: #333;
}
.menu-main__dropdown {
    color: #ffffff;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: -9px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
.menu-main__dropdown__handle {
    color: #ffffff;
    display: block;
    height: 36px;
    padding: 12px 18px 12px 9px;
    text-decoration: none;
}
.menu-main__dropdown__triangle {
    font-size: 6px;
    margin-left: 5px;
    vertical-align: middle;
}
.menu-main__dropdown__list {
    background: none repeat scroll 0 0 #333;
    display: none;
    position: absolute;
    right: 0;
    top: 36px;
    z-index: 1;
}
.menu-main__dropdown:hover {
    color: #00d19f;
}
.menu-main__dropdown:hover .menu-main__dropdown__handle {
    color: #00d19f;
}
.menu-main__top-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.3) 27%, #fff 89%, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    right: 0;
    top: -15px;
    width: 100%;
}
.menu-main__items-container {
    float: left;
    height: 36px;
    max-width: 82%;
    overflow: hidden;
}
.menu-main__region-icon {
    background: url("http://v6.fo.rbk.ru/rbc_static/styles/blocks/menu-main/images/globus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 17px;
    margin: -3px 5px 0 0;
    width: 17px;
}
.menu-main__subitem {
    border-left: 1px solid #747474;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 11px 20px 12px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
.menu-main__subitem_first {
    border: medium none;
    padding-left: 16px;
}
.menu-main__subitem_first > span {
    margin-right: 10px;
}
.menu-main__subitem_last {
    border-right: 1px solid #747474;
}
.menu-main__subitem:hover {
    color: #00d19f;
}
.menu-main__subitem:hover .menu-main__region-icon, .menu-main__region:hover .menu-main__region-icon {
    background-position: 0 -20px;
}
.menu-main__region {
    display: inline-block;
    height: 36px;
    padding-right: 6px;
}
.menu-main__region-submenu {
    background: none repeat scroll 0 0 #5c5c5c;
    height: 36px;
    margin-top: -36px;
    position: relative;
    z-index: 1;
}
.menu-main__region-submenu.opened {
    margin-top: 0;
}
.menu-main__region-detector__text {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 11px 20px 12px 16px;
}
.menu-main__region-detector__text > span {
    margin-right: 10px;
}
.menu-main__submenu {
    background: none repeat scroll 0 0 #5c5c5c;
    height: 36px;
    overflow: hidden;
    position: relative;
}
.menu-main__submenu__conteiner {
    float: left;
    max-width: 94%;
}
.menu-main__submenu__handle {
    background: none repeat scroll 0 0 #5c5c5c;
    color: #ffffff;
    float: left;
    margin-right: -1px;
    padding: 11px 18px 12px 9px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-main__submenu__handle:hover {
    color: #00d19f;
}
.menu-main__submenu__handle:hover .menu-main__submenu__handle__triangle {
    color: #00d19f;
}
.menu-main__submenu__triangle {
    font-size: 6px;
    margin: 0 3px;
    position: relative;
    top: -2px;
}
.touch .l-version-a.index .menu-main__item_news-feed-handler {
    display: inline-block;
}
@media screen and (max-width: 1260px) {
.menu-main__item_news-feed-handler {
    display: inline-block;
}
.menu-main__items-container {
    max-width: 72%;
}
.l-version-a.index .menu-main__item_news-feed-handler {
    display: none;
}
}
.search {
    float: right;
    height: 36px;
    min-width: 30px;
    overflow: hidden;
    width: 100%;
}
.search:before, .search:after {
    content: " ";
    display: table;
}
.search:after {
    clear: both;
}
.search__body {
    height: 36px;
}
.search__buttom {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #00caa0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 36px;
    width: 77px;
}
.search__buttom:active {
    background: linear-gradient(to bottom, #7cc9b8 0px, #00caa0 50%, #7cc9b8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.search__text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #333 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    height: 100%;
    margin: 0 77px 0 40px;
    position: relative;
}
.search__text input {
    border: medium none;
    border-radius: 0;
    font-size: 15px;
    height: 100%;
    line-height: 31px;
    padding: 0;
    width: 100%;
}
.search__text input:focus, .search__text input:active {
    outline: medium none;
}
.search__input-wrap {
    bottom: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 1px;
}
.search__link {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("http://v6.fo.rbk.ru/rbc_static/styles/blocks/search/images/search.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border-color: #333 -moz-use-text-color #333 #333;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 36px;
    width: 40px;
}
.search__count {
    margin-bottom: 15px;
    padding-top: 50px;
}
.search__count:before, .search__count:after {
    content: " ";
    display: table;
}
.search__count:after {
    clear: both;
}
.search__menu {
    background-color: #333;
    height: 36px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.search__menu span {
    background-image: url("http://v6.fo.rbk.ru/rbc_static/styles/blocks/search/images/search-white.png");
    height: 37px;
}
.search__menu__link__active {
    background-color: #fff;
    background-image: url("http://v6.fo.rbk.ru/rbc_static/styles/blocks/search/images/search.png") !important;
    height: 36px !important;
}
.search__count a {
    color: #00d19f;
    text-decoration: none;
}
.search__count a:hover {
    color: #000;
}
@font-face {
    font-family: "ALSStory";
    font-style: normal;
    font-weight: normal;
    src: url("http://v6.fo.rbk.ru/rbc_static/styles/fonts/ALSStory/als_story_regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://v6.fo.rbk.ru/rbc_static/styles/fonts/ALSStory/als_story_regular-webfont.woff") format("woff"), url("http://v6.fo.rbk.ru/rbc_static/styles/fonts/ALSStory/als_story_regular-webfont.ttf") format("truetype"), url("http://v6.fo.rbk.ru/rbc_static/styles/fonts/ALSStory/als_story_regular-webfont.svg#als_storyregular") format("svg");
}
